[2016-04-10 07:05] rohangoel96 opened #11 "Clean Directory Structure"
The present directory structure is very cumbersome and needs to be cleaned. Presently `.out` files too are included in the root directory which is very unpleasing. Scripts like `parser-ResponseTime_CDF.py` should be in the `lib` folder and correspondingly `Parser.py` and `TestingScript.py` should be edited to make library function for that particular script.

Ideally, the directory structure shoul

[2016-04-10 07:06] rohangoel96 opened #12 "Update Readme"
Update the README with all the library functions available.

@dhruvshekhawat

[2016-07-09 06:47] dhruvshekhawat commented on #12
Done.

[2016-07-09 06:47] #12 closed, assigned to nobody

[2016-07-09 09:08] dhruvshekhawat commented on #11
Done. Thanks for pointing out :+1:

[2016-07-09 09:08] #11 closed, assigned to nobody

[2016-12-22 05:34] rohangoel96 opened #21 "Networkx 1.11"
Some of the functions like `len` for `graph objects` have been deprecated in newer versions of networkx.
Need to re-write those functions in accordance with the updated version of nx.

Temporary Solution : Use networkx 1.8 (used by @dhruvshekhawat at the time of writing the code)
https://github.com/networkx/networkx/releases/tag/networkx-1.8.1

[2016-12-22 07:29] rohangoel96 commented on #21
@kaushik-rohit  this could be your first task.
for your reference `len(L)` would create trouble in nx v1.11 here in
https://github.com/rohangoel96/IRCLogParser/blob/temp-branch/lib/AggregateGraph.py#L134

[2016-12-22 07:30] rohangoel96 opened #22 "Installation Script"
Required: An Installation script to install all the dependencies in one go.

[2016-12-22 07:31] rohangoel96 commented on #22
@kaushik-rohit, since you'll be installing all the dependencies to start your work, this shoud be an easy task for you.

[2016-12-22 16:21] kaivalyar commented on #22
Hi. I recently forked and set up the IRCLogParser on my computer. I had some trouble with getting the dependencies installed, however managed it later.

I was just wondering - would the installation script be in bash? if that is the case, I can just retrieve all the commands I ran on my terminal from my bash history, and produce a rudimentary installation script. Would that be helpful?

[2016-12-22 16:56] rohangoel96 commented on #22
Hi @kaivalyar, we are sorry for the trouble you went through for the installations and that is infact one of the primary reason we need this issue to be resolved asap so that future contributors do not face this problem.

Yes, a bash script would just serve the purpose. Something like https://gist.github.com/bgallagh3r/2853221 would be a great start.

Also, incase if you feel stuck anywhere else i

[2016-12-22 17:08] rohangoel96 commented on #22
Hi @kaivalyar, we are sorry for the trouble you went through for the installations and that is infact one of the primary reasons why we need this issue to be resolved asap; so that future contributors do not face this problem.

Yes, a bash script would just serve the purpose. Something like https://gist.github.com/bgallagh3r/2853221 would be a great start. I'd also suggest you to please work on th

[2016-12-22 17:08] rohangoel96 commented on #22
Hi @kaivalyar, we are sorry for the trouble you went through for the installations and that is infact one of the primary reasons why we need this issue to be resolved asap; so that future contributors do not face this problem.

Yes, a bash script would just serve the purpose. Something like https://gist.github.com/bgallagh3r/2853221 would be a great start. I'd also suggest you to please work on th

[2016-12-23 06:21] rohangoel96 opened #24 "Configuration File"
It'll better to have a separate configuration file to manage all the constants in different scripts.
For example : https://github.com/prasadtalasila/IRCLogParser/blob/master/lib/AggregateGraph.py#L39

[2016-12-23 06:28] rohangoel96 commented on #24
Something like https://github.com/cBioPortal/clinical-timeline/blob/master/js/plugins/util.js which I used in JS would be great to see.
Constants will be referenced in the scripts as follows : https://github.com/cBioPortal/clinical-timeline/blob/master/js/clinicalTimeline.js#L717

[2016-12-23 06:30] rohangoel96 opened #25 "Documentation"
IRCLogParser currently lacks proper documentation for all the functions. Keeping in mind future contributors, this needs to dealt with ASAP.

For reference : http://www.sphinx-doc.org/en/1.4.9/

[2016-12-23 06:34] rohangoel96 commented on #24
@kaushik-rohit, this would help you understand the code base better too. Have a look.

[2016-12-23 17:39] kaivalyar commented on #22
The interesting thing I figured out while installing was that not only were the dependencies various python packages, but also non python Linux packages. I had to ```sudo apt-get install``` these. I don't think that these would be standard across all systems though. How would the installation script handle this though?

[2016-12-23 18:49] rohangoel96 commented on #22
@kaivalyar, though we presently only support ubuntu, but that's a valid point indeed.
you might want to take a look at this http://stackoverflow.com/questions/21421120/a-universal-bash-script-for-installing-with-apt-get-and-yum.

Moreover @kaushik-rohit is also working on this in my fork (https://github.com/rohangoel96/IRCLogParser/pull/1). It'll be great and a time-saver for all of us if both you

[2016-12-26 11:32] rohangoel96 commented on #24
I have initialised the above mentioned file : https://github.com/prasadtalasila/IRCLogParser/blob/master/ext/util.py

[2016-12-26 11:33] rohangoel96 commented on #25
docs have been initialised https://github.com/prasadtalasila/IRCLogParser/tree/master/docs
Pending :
- more documentation coverage
- host docs on github pages

[2016-12-26 14:34] kaushik-rohit commented on #21
@rohangoel96 we can use len (list(L)) in place of len (L)

[2016-12-28 14:08] rohangoel96 commented on #22
closed via 7a98242b2fe0a019611040186e9619c204c89108

[2016-12-28 14:08] #22 closed, assigned to nobody

[2016-12-30 13:29] rohangoel96 opened #27 "Automatically update Documentation post code change"
Presently, after every code change, to keep the code and documentation in sync it is required to run the command `make html` in `docs` directory so that the documentation updated

[2016-12-30 13:33] rohangoel96 opened #28 "end to end testing"
As the size of the codebase is continuously growing it makes sense to start end to end testing in the repository to ensure that new additions don't break the existing code base.

[2017-01-23 12:09] rohangoel96 commented on #21
Closed via d18d1ebff12d397cd755f0db9a52add22973b3d9 and f2d819fbf72269a47916c2e752622e74829a9517

[2017-01-23 12:09] #21 closed, assigned to nobody

[2017-01-23 12:10] rohangoel96 commented on #25
closed via d1ca9087a628b0c932dc4a2092d89566177e506c

[2017-01-23 12:10] #25 closed, assigned to rohangoel96

[2017-01-25 05:53] prasadtalasila opened #29 "Modularize and refactor file system functions"

[2017-01-25 06:05] prasadtalasila opened #30 "Convert used scripts in misc_scripts/ folder to functions in lib/"

[2017-01-26 18:41] rohangoel96 commented on #30
closed via 37b679729b1c1a2703ef0b3cbf4ad1d7e9877d86

[2017-01-26 18:41] #30 closed, assigned to rohangoel96

[2017-02-05 06:02] rohangoel96 opened #34 "Error in plotting some graphs"
TypeError: coercing to Unicode, need string or buffer, NoneType found for some graphs in the month of february

[2017-02-05 19:42] krishnacharya opened #35 "redundancy in NIckChangeGraph.py"
While refactoring code for NickChangeGraph.py I noticed that for the day to day analysis the graph that is plotted need not consider and create a list of lists for nickname duplicacy etc So i commented out those lines and the output for this module is still the same. I guess it is because only modules like MessageNumber etc need the nickname duplicacy checks.

`

[2017-02-06 01:03] prasadtalasila opened #37 "Test ticket from Code Climate"

[2017-02-06 01:03] #37 closed, assigned to nobody

[2017-02-06 07:02] rohangoel96 commented on #37
@prasadtalasila do you want us to instantiate code-climate services in the repository ?

[2017-02-06 12:44] prasadtalasila commented on #37
It has already been instantiated. The code climate badge is active in README.md

[2017-02-09 19:32] rohangoel96 opened #40 "don't use max_expected variables"
conversation (https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/analysis/network.py#L31) should be dynamically filled up and there shouldn't any need to use "MAX_EXPECTED_DIFF_NICKS"

[2017-02-09 19:33] rohangoel96 commented on #40
similarily https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/nickTracker.py#L6

[2017-03-02 14:18] #35 closed, assigned to nobody

[2017-03-10 07:20] prasadtalasila opened #53 "dependency management and packaging of the library"
we have a shell script based installation. If we can migrate the same to pip dependency management, we can overcome  potential version-based compatibility issues. The tutorial on the [fullstackpython](https://www.fullstackpython.com/application-dependencies.html) seems helpful.

Considering that our project is on Python 2, having [virtualenv](https://pypi.python.org/pypi/virtualenv) and [autoenv](

[2017-03-12 14:29] kaushik-rohit opened #55 "bootstrap numpy and scipy installation inside setup.py"
Currently we are using setup.py for packaging and installing dependencies but it has problem in installing scikit-learn.Since setup.py installs dependencies in no fixed order and as scikit-learn uses scipy and numpy, it is possible it tries to install scikit learn before installing scipy/numpy which we create an error.

Currently what we are doing is installing numpy and scipy outside the setup.py

[2017-03-16 09:50] rohangoel96 opened #58 "TODO: Call Graphs"
https://github.com/gak/pycallgraph

[2017-03-16 22:30] prasadtalasila commented on #58
a [stackoverflow answer](http://stackoverflow.com/questions/508277/is-there-a-good-dependency-analysis-tool-for-python?noredirect=1&lq=1) recommends [snakefood](http://furius.ca/snakefood/)

[2017-03-16 22:34] prasadtalasila commented on #53
@kaushik-rohit if this work is complete, do close the issue.

[2017-03-16 23:00] prasadtalasila commented on #27
can travis-ci do this work for us? Seems possible looking at this [stackoverflow answer](http://stackoverflow.com/questions/23277391/how-to-publish-to-github-pages-from-travis-ci)

But the whole setup requires careful orchestration as security leaks seem very easy in this setup.

In the same vein, the github pages feature has been enabled for the project. Once done properly, the pages shall be ava

[2017-03-16 23:02] prasadtalasila commented on #27
we may also need a redirection page in docs/ directory in order to point to docs/build/html/index.html.

Since we are not merging the dev branch with master so often, we might be better off with having a separate gh-pages branch and use it as a base to serve the documentation.

[2017-03-17 06:19] rohangoel96 commented on #58
@prasadtalasila  snakefood looks great. Thank you for the help sir.

[2017-03-17 13:41] rohangoel96 commented on #27
following from @prasadtalasila's last comment: the following command can help you deploy a certain folder to the gh-pages branch: `git subtree push --prefix docs/build/html/ origin gh-pages`

Also @prasadtalasila sir, since the permissions for travis and github pushing will require your access it'd be great if we can sit together some time and get this working. I can't set this up on my own withou

[2017-03-17 13:45] #29 closed, assigned to kaushik-rohit

[2017-03-17 13:45] #24 closed, assigned to nobody

[2017-03-17 16:00] kaushik-rohit commented on #53
we still have to work on virtualenv integration and pybuilder.

[2017-03-17 16:08] rohangoel96 commented on #27
@prasadtalasila I have the (updated) documentation setup on my local repo: http://rohangoel96.github.io/IRCLogParser which is just a redirection of `docs/build/html` but don't have the required permissions on your repo.

[2017-03-18 12:28] prasadtalasila commented on #27
@rohangoel96 The API keys have been set and .travis.yml has been updated. We need a documentation update script along the lines of [auto-deploy](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd) or [steve's script](http://www.steveklabnik.com/automatically_update_github_pages_with_travis_example/).

Please cross-check the auto-deploy script first as it seems more up-to-date.

At present, there

[2017-03-18 17:54] rohangoel96 commented on #27
@prasadtalasila  thanks for the links. Since breaking your main branch and travis builds are considered a sin I have shifted the doc-automation to https://github.com/prasadtalasila/IRCLogParser/tree/docs-automation. The tut on https://gist.github.com/domenic/ec8b0fc8ab45f39403dd seems better as it doesn't require us to fiddle with npm. I guess it'll be better we can sit together and do this since

[2017-03-19 01:58] prasadtalasila opened #61 "meaningful commit message for update-docs.sh"
The ext/update-docs.sh is using a very general commit message. If we can take the last commit message of the repository for which we are generating the documentation, that would enable us to tie the code commits with the gh-pages commits.

[2017-03-19 06:59] rohangoel96 commented on #61
fixed via https://github.com/prasadtalasila/IRCLogParser/pull/62
update-docs.sh now not needed.

[2017-03-19 06:59] #61 closed, assigned to rohangoel96

[2017-03-19 07:01] rohangoel96 commented on #27
thanks for the setup @prasadtalasila .
Since multiple commits for a single task isn't considered a good practice in open source I have squashed your commit into one. 030adca18ba560ba8daccb4832f70d64869429be

[2017-03-19 07:02] rohangoel96 commented on #27
Docs are now published correctly by travis:
dev : 3db6d8901073dd91fd26c479e62c6097f6385f97
gh-pages: f82eff9c26511113b661c50e4f5c39b62bf2e70a

[2017-03-19 07:02] rohangoel96 commented on #27
closed via https://github.com/prasadtalasila/IRCLogParser/pull/62

[2017-03-19 07:02] #27 closed, assigned to rohangoel96, prasadtalasila

[2017-03-19 10:58] prasadtalasila commented on #27
It may be desirable to delete the doc-automation and new-doc-automation branches.

[2017-03-19 10:59] rohangoel96 commented on #27
done

[2017-03-19 11:01] prasadtalasila commented on #27
thanks @rohangoel96

[2017-03-20 21:57] prasadtalasila opened #64 "make year of logs explicit"
At present, the command

    python module.py "nickChange" -f="1-1" -t="31-1"

does not include the year of analysis. Including that would be useful in extending the analysis to long-range  logs.

[2017-03-21 04:49] rohangoel96 commented on #64
Thank you for pointing this @prasadtalasila sir.
That was actually used before the refactoring was done.
We now have config.py (which specifies complete date in format YYYY-MM-DD) to handle that.
https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/config.py#L4

We have tried to illustrate the use of the library in [sample.py](https://github.com/prasadtalasila/IRCLogParser/blob/dev/sample.p

[2017-03-21 05:37] prasadtalasila commented on #64
My bad. I was looking at the master branch. The present arrangement is good.

[2017-03-21 05:37] #64 closed, assigned to nobody

[2017-03-21 17:59] prasadtalasila opened #65 "pre-release"
It would be a good practice to have a ready release / pre-release for the software. That way, any foreseen issues on the **dev** branch would not effect the people who would want to use the software.

We can have a working commit that is decent, create a release out of it. We can also upload the manually compiled documentation for that release.

[2017-03-21 18:06] rohangoel96 commented on #65
@prasadtalasila honestly that was exactly what I was planning when I cleaned the dev branch in my last commit. I am infact planning to set the IRCLogParser up on pip as well (http://peterdowns.com/posts/first-time-with-pypi.html).

To do this, I am currently just waiting for @krishnacharya who is working on his PR #56 after which it will be a good idea to release a v1.0.0.

[2017-03-21 18:14] prasadtalasila commented on #65
@rohangoel96 that's good news.

If I understand the situation correctly, right now one round of refactoring has been done. @krishnacharya is performing further refactoring to improve codeclimate score. If that is true, we can do the release now and perform incremental releases later on after significant improvements.

Unless @krishnacharya is fixing some bugs, waiting for him to improve the softwa

[2017-03-22 11:49] prasadtalasila opened #66 "closing log files in reader.py"
[reader.py](https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/in_out/reader.py#L54)

[2017-03-22 13:38] rohangoel96 commented on #66
closed via 3d1e28a1562f3be90a47c50b9db43ebdd55a63de

[2017-03-22 13:38] #66 closed, assigned to nobody

[2017-03-22 13:39] rohangoel96 commented on #58
update: https://www.stack.nl/~dimitri/doxygen/manual/diagrams.html
- make sure to update the call graphs automatically (use travis?)

[2017-03-22 13:42] rohangoel96 opened #67 "TODO: Profiler"
As suggested by @prasadtalasila, it will be a very good idea to use a [profiler](https://docs.python.org/2/library/profile.html) for our library. We could hence tweak the run-time performance for some heavy-load functions.

[2017-04-09 04:59] rohangoel96 opened #72 "Better output formats"
We're currently using pickle to store the graphs for tests. Though it works just fine, the gpickle format is not human readable. It'll be better to use saving formats which are more human readable (pajek) so when we commit them on git, we can easily see the difference (`git diff`) and understand what kind of change was made to the graph.

[2017-04-09 05:13] rohangoel96 commented on #72
reference : https://github.com/prasadtalasila/IRCLogParser/pull/71/commits/414838e2206464b1180cfe17c8f4e00ea32d001f

[2017-04-09 05:23] #28 closed, assigned to nobody

[2017-04-09 05:24] #65 closed, assigned to rohangoel96

[2017-04-09 16:54] prasadtalasila opened #74 "Use Logging facility"
At present, the application is too verbose. Essentially we have two problems.
* All kinds of information printed on terminal
* Not adhering to UNIX philosophy of staying silent when there are no surprises.

Using the [logging](https://docs.python.org/2/library/logging.html) from standard library solves both the problems. We can specify different log levels and redirect the output to a log file ins

[2017-04-09 17:48] rohangoel96 commented on #74
we were using a variable in config.py to enable/disbale logging until now (https://github.com/prasadtalasila/IRCLogParser/blob/master/IRCLogParser/lib/config.py#L1) but using logging from standard library is definitely a much better idea. Thanks !

[2017-04-09 18:25] prasadtalasila opened #75 "install scripts"
GitHub uses a streamlined [script system](https://github.com/github/scripts-to-rule-them-all) for their projects. Our project can utilize such a system as well. At present the travis-ci has some installation steps before pip is run. If we are to setup IRCLogParser in a system, we need to replicate those steps as well. A simple pip install would not be sufficient, unless IRCLogParser graduates to a

[2017-04-09 18:35] prasadtalasila opened #76 "Install error"
The software fails to install when tried with `virtualenv`. I tried the single installation step outlined in the README.md page.
[code]

The installation failed with the following log.
[code]

The installation got off to a decent start once I put in the following steps from travis.yml file.
[code]
After installing a few packages, the installation again failed while installing `python-igraph` packa

[2017-04-09 18:40] prasadtalasila opened #77 "code profiling using vprof"
[vprof](https://github.com/nvdv/vprof) profiles the memory and execution time profiling of python code base. The package would be very useful in knowing the memory and execution time hogs in the IRCLogParser code base.

[2017-04-09 18:41] prasadtalasila commented on #77
I tried the package on another python project and it works very well.

[2017-04-09 18:57] prasadtalasila commented on #67
As suggested in #77, try vprof first. [vprof](https://github.com/nvdv/vprof) profiles the memory and execution time profiling of python code base. The package would be very useful in knowing the memory and execution time hogs in the IRCLogParser code base.

The tool does not require any new code development for profiling, but does require running on a desktop computer, ie, it does not run on travi

[2017-04-09 18:58] prasadtalasila commented on #77
Relevant information updated in #67. Closing this issue.

[2017-04-09 18:58] #77 closed, assigned to nobody

[2017-04-10 01:39] prasadtalasila commented on #67
Another profiling tool that I tried is [memory_profiler](https://github.com/fabianp/memory_profiler). This just gives the line-by-line memory consumption of a function. Very useful in our scenario of functions calling other functions.

Apart from this, some general advice I found, but yet to try - [1](http://pynash.org/2013/03/06/timing-and-profiling/), [2](https://www.huyng.com/posts/python-perfo

[2017-04-10 07:25] prasadtalasila commented on #67
For the timing tests, [pytest-benchmark](https://github.com/ionelmc/pytest-benchmark) seems to be worthy solution. I tried it on another python project and it is giving time performance measurements. The documentation is a little patchy and I still can't figure out the fundamental difference between a run and an iteration. Otherwise, the package runs and gives meaningful results. See the pdf versi

[2017-04-10 07:52] rohangoel96 commented on #67
I tried both vprof and memory_profiler. Though the analysis of vprof is highly superior to that of memory_profiler, vprof is very time consuming and as @prasadtalasila  mentioned it can't work on travis (since the results are locally hosted over http).
memory_profiler's line by line analysis also takes ages to complete thus integrating it with travis would lead to builds running for hours. Hence I

[2017-04-10 07:53] rohangoel96 commented on #67
pytest-benchmark can also be included separately along with memory usage analysis

Update: pytest-benchmark apparently works only with [pytest](https://docs.pytest.org/en/latest/) which we aren't using.

[2017-04-10 15:01] prasadtalasila commented on #58
I tried out the pycallgraph. Here is the [gist](https://gist.github.com/prasadtalasila/71893b1eb8dfc425fba169b4c70b1475)

[2017-04-10 15:52] prasadtalasila commented on #58
Here is a summary of [snakefood](https://gist.github.com/prasadtalasila/deb3e55d8f084ba375d1c31712e1c7e4) and a [sample graph](http://pasteboard.co/2ENQSGA5j.png) for our project.

[2017-04-10 18:34] rohangoel96 commented on #76
how about `python setup.py install` ?

[2017-04-13 13:46] kaushik-rohit commented on #72
Yes. as we discussed earlier there is time gain with gpickle than pajek and hence we decided to go with gpickle. but i believe readability is definitely good to have.
I will fix this.

[2017-04-14 02:49] prasadtalasila commented on #76
Gives the following error.
[code]

[2017-04-15 00:40] prasadtalasila opened #78 "making logs light weight"
The `logs` dictionary returned by `linux_input` contains copy of all the log data for the entire time period. This setup has the advantage of in-memory content, hence potentially faster processing. But the arrangement also puts limits on the data sets we can process in one analysis.

Looking closely, here is the data structure of `logs` dictionary.
[code]
`log_data` property of the dictionary cont

[2017-04-15 00:42] prasadtalasila commented on #78
With any of the above suggested approaches, we can happily turn the log processing into a concurrent approach.

[2017-04-16 12:37] #55 closed, assigned to nobody

[2017-04-16 12:42] kaushik-rohit commented on #76
Fixed. Can you please try again with pip -v install -e . and confirm.

[2017-04-18 15:39] rohangoel96 commented on #58
closed via 1e6252e28d4e59b5ccc32f76fdcc7fff125f36ac

[2017-04-18 15:39] rohangoel96 commented on #67
@krishnacharya you had to try integration with pytest. Updates?

[2017-04-18 15:49] rohangoel96 opened #83 "separate dev time dependency and don't install them on travis"
Help: http://stackoverflow.com/questions/28509965/setuptools-
Dev dependencies:
'pyyaml',
't3SphinxThemeRtd',
't3fieldlisttable',
't3tablerows',
't3targets',
'sphinxcontrib-googlechart',
'sphinxcontrib-googlemaps',
'sphinxcontrib-httpdomain',
'sphinxcontrib-slide',
'sphinxcontrib.youtube',
'memory_profiler',
'snakefood'⁠⁠⁠⁠

[2017-04-18 16:19] rohangoel96 opened #84 "use config object (dictionary) instead of config.py and better arguments for functions"
^ industry standard
the config object can be passed to functions as an argument
config.py should be completely done away with

[2017-04-18 16:19] rohangoel96 commented on #84
@krishnacharya you should do this asap

[2017-04-18 16:38] prasadtalasila commented on #76
I tried the latest commit on the development branch (74c88f0) inside a virtualenv environment. It gives the following error.

[code]

[2017-04-19 10:52] kaushik-rohit commented on #76
@prasadtalasila my PR hasn't been merged yet. it is fixed in that.

[2017-04-19 13:35] prasadtalasila commented on #40
Use either queues or itertools to optimize append operations on lists of lists used for storing nicks.

[2017-04-19 16:33] rohangoel96 commented on #76
@kaushik-rohit merged https://github.com/prasadtalasila/IRCLogParser/pull/82. Close necessary issues if it's installing correctly now.

[2017-04-19 16:35] rohangoel96 commented on #84
more help: https://pythontips.com/2013/08/04/args-and-kwargs-in-python-explained/
http://book.pythontips.com/en/latest/args_and_kwargs.html

[2017-04-19 17:05] #83 closed, assigned to kaushik-rohit

[2017-04-19 19:25] kaushik-rohit commented on #76
@prasadtalasila Sir, can you confirm it is working for you? I have checked it on my machine and also the travis build is working properly. The PR has been committed to dev branch.

[2017-04-20 02:02] prasadtalasila commented on #76
The install is primarily failing because of missing OS level dependencies. Most of the dependencies specified in setup.py are python bindings to underlying third-party packages. In order for the software to work, these OS level packages must be installed too. I made a list of few required one in [vagrant script](https://github.com/prasadtalasila/IRCLogParser/blob/06ce26050d8a75c1efb493f82e0fc04ae1

[2017-04-20 02:03] prasadtalasila commented on #76
We need to have the install script in place before we can close this issue.

[2017-04-20 18:11] rohangoel96 opened #85 "refactor linux specific parts in lib/in_out/* and vis.py"
make disk access platform independent by using os.path.join instead on concatenating strings around "/"

[2017-05-05 08:23] prasadtalasila opened #86 "vagrant error"
The vagrant provision script vagrant.sh is incorrectly specified in [Vagrantfile](https://github.com/prasadtalasila/IRCLogParser/blob/dev-vagrant/Vagrantfile). Need to fix this. Also move the IRCLogParser installation part to script/bootstrap. The bootstrap script would be run inside the vagrant vm.

[2017-05-18 07:30] prasadtalasila opened #87 "code coverage tracking"
code coverage tracking needs to be setup on codeclimate and a badge needs to be added to README.md.

[2017-05-30 19:44] prasadtalasila opened #88 "move plotly sign-in config information to config.py"
The [vis.py](https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/vis.py#L17) has the plotly username and password embedded in the code. Move this configuration to [config.py](https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/config.py)

[2017-05-30 19:48] prasadtalasila opened #89 "fix python packaging problems"
The python packaging does not work at the moment. The problem needs to be fixed and the code fix need to bubble upto master branch.

[2017-05-30 19:53] prasadtalasila commented on #84
It does make sense to use sensible defaults for non-essential arguments. Instead of overwhelming the user with a requirement to specify all configuration parameters, we can have a default configuration dictionary object in the library.

We can then separate all the configuration into mandatory and optional categories. All the functions throw up errors if the mandatory arguments are missing. If the

[2017-08-18 03:45] prasadtalasila opened #90 "generation of heatmaps"
The heatmaps function in vis.py is not able to read the numbers in csv file to generate the required heatmap.

[2017-08-18 03:53] prasadtalasila opened #91 "code for CC graph generation - not in code base"
The code written for generating the arc diagram of the community-community (CC) network is not in the code base.

[2017-08-18 04:17] prasadtalasila opened #92 "Infomaps community labeling and coloring in graphs"
The CU and UU graphs generated from the code does not have community labeling and node properties. The community visualizations seem to be absent from the code base.

[2017-08-18 04:20] krishnacharya commented on #91
To do:
-adjust to logarithmic weights for the CC adjacency matrix
-use d3

[2017-08-21 10:38] prasadtalasila opened #94 "TODO: write unit tests for lib/in_out/saver.py"
write unit tests for all functions in saver.py.

[2017-08-21 10:39] prasadtalasila opened #95 "split test.py into TDD compliant structure"
Each code file must have a corresponding unit test file as specified by TDD convention. Please split [test.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/test/tests.py)

[2017-08-21 11:14] prasadtalasila opened #96 "curve fit parameters generated in calc_plot_linear_fit() need to be saved in a file"
At present, the curve fit results are logged to terminal. The results must be saved to a text file whose name is provided via parameter of the function call.

[2017-08-21 11:19] prasadtalasila opened #97 "degree_analysis_on_graph() works only on directed graphs"
degree_analysis_on_graph() assumes that the incoming graph is a directed graph. If an undirected graph is provided, the function bails out with a run-time error.

The solution is to write polymorphic (overloaded) degree_analysis_on_graph() which works for both directed and undirected graphs.

[2017-08-21 11:33] prasadtalasila opened #98 "keywords generated in keywords_clusters() need to be saved in a file"
At present, the keyword digest results are logged to terminal. The results must be saved to a text file whose name is provided via parameter of the function call.

[2017-08-25 11:27] prasadtalasila opened #101 "Regenerate paper results"
1. Fig4: arc graph (see issue #91 )
1. Figures 6 to 8
1. Tests for functions of undirected graphs (see network.py)

[2017-08-30 09:39] prasadtalasila opened #102 "gui dependency"
IRCLogParser requires matplotlib library which in turn is dependent on the GUI display. We need to have the matplotlib redirect its output to files.

[2017-08-30 10:14] krishnacharya opened #103 "channel_hash and channel name mapping has to be explicitly returned"
this is used in the CC arc graph where we pick the top 30 channels.

[2017-08-30 10:17] prasadtalasila commented on #101
Pending work:
Fig 4 ---> community hash to name conversion
Fig 6(a) and (b) ---> community chosen is incorrect
Fig 7 ---> distinction between channels and users
Fig 8 ---> uniform color for vertices of one channel

[2017-08-30 18:33] krishnacharya opened #104 "Reduced CC, CU, UU networkx graphs"
Since we are returning CC,CU and UU reduced adjacency matrix it will be useful to also return reduced CC, CU and UU networkx graphs.

Currently the CC, CU and UU graphs returned in channel_user_presence_graph_and_csv are the ones that have all channels and users and not top 30 channels and top 100 users

this can be done by removing the other nodes from the respective full graphs.

[2017-09-02 05:38] prasadtalasila commented on #101
Pending work as of 2-Sep-2017:

Fig 6(a) and (b) ---> community chosen is incorrect; the community membership and code length to be put in log files. The code length data goes into Tables 5 and 6 of the paper.
Fig 7(b) ---> top-100 user-user copresence graph with communities labeled (taking too long to generate)
Fig 8 ---> community chosen is incorrect; the community membership and code length to

[2017-09-02 06:36] prasadtalasila opened #107 "unit test for channel_user_presence_graph() in network.py"

[2017-09-02 06:41] prasadtalasila opened #108 "create arc graph using d3.js"

[2017-09-04 11:42] prasadtalasila opened #109 "remove edge weights from all graph visualizations"
The edge weights appear in all graphs generated on a recent install. These weights were not appearing in any of the previous installs. The result may be due to changes in the code.

Check line-182 of viz.py for changing the color of a graph edge and line-203 for changing the label of a graph edge.

[2017-09-04 11:45] prasadtalasila opened #110 "coloring scheme for multi-channel communities"
The multi-channel communities have been colored with one color per community. We also want a different visualization with the convention of one color per channel.

[2017-09-04 11:46] prasadtalasila opened #111 "cutoff computations in channel.py"
The RTmax, CLmax and CRTmax computations are to be done using a single function in channel.py. The RTmax value need to be passed to conv_len_conv_refr_time() function.

[2017-09-05 20:55] #90 closed, assigned to kaushik-rohit

[2017-09-06 01:24] prasadtalasila commented on #88
The line to be changed is as follows.
[code]

[2017-09-06 17:33] #96 closed, assigned to nobody

[2017-09-06 19:30] #92 closed, assigned to rohangoel96

[2017-09-06 20:24] #104 closed, assigned to nobody

[2017-09-07 17:22] #109 closed, assigned to kaushik-rohit

[2017-09-11 08:48] #110 closed, assigned to nobody

[2017-09-12 06:34] #97 closed, assigned to nobody

[2017-09-12 23:11] prasadtalasila opened #125 "IndexError in channel.response_time() function"
When we choose a single day logs with the following config.py
[code]

We get the following error.
[code]

[2017-09-12 23:13] prasadtalasila commented on #125
The problem disappears with ENDING_DATE = "2013-1-5" or ENDING_DATE = "2013-1-2".

I guess the function is expecting the ENDING_DATE to be greater than the STARTING_DATE. This is a wrong assumption to make.

[2017-09-14 17:36] kaushik-rohit opened #130 "Possible index out of bound error"
In network.py "nick_receiver_from_conn_comp"
`   def nick_receiver_from_conn_comp(nick, conn_comp_list):
    for i in range(config.MAX_EXPECTED_DIFF_NICKS):
        if nick in conn_comp_list[i]:
            nick_receiver = conn_comp_list[i][0]
            break
    return nick_receiver`
On first look it seems that conn_comp_list[i] may give an index error since we don't know if config.MAX_EXPECTED

[2017-09-14 17:44] kaushik-rohit opened #131 "Two similar degree analysis method in network.py"
1) degree_analysis_on_graph(nx_graph, date=None, directed = True)
This takes an nx graph and gives degree vs no. of nodes for complete graph.(list)

2) degree_node_number_csv(log_dict, nicks, nick_same_list)
This calls message number graph with daily analysis and gets a list of message number graphs for each day. It returns a degree vs no. of nodes for every daily message number graph. (list of li

[2017-09-14 18:12] kaushik-rohit opened #132 "use nltk corpora for stopwords/common_english_words"
Using nltk corpora is more valuable so we wish to replace the custom list with nltk stopwords corpora.

[2017-09-14 21:56] #131 closed, assigned to nobody

[2017-09-17 08:08] kaushik-rohit commented on #132
@prasadtalasila Currently we are using stop words from scikit-learn https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/stop_words.py and we have two lists stored in python files under ext 1) extend_stop_words.py 2)common_english_words.py. We form a new corpora by taking union of all these. Should i include nltk corpora which has 152 stop words?
Some Obeservation
1)

[2017-09-17 10:20] prasadtalasila commented on #132
@kaushik-rohit The present arrangement of using a union of scikit-learn and common english words seems satisfactory to me. Can you point to the location in the code where a union of two of these lists is being performed to create a new stop word list?

[2017-09-17 10:32] kaushik-rohit commented on #132
@prasadtalasila the extended_stop_words function does this. Here https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/analysis/user.py#L414.

The above function is being used in keywords and clustering:
ex - https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/analysis/user.py#L242

[2017-09-17 10:39] prasadtalasila commented on #132
sounds good. Nothing further to do on this task.

[2017-09-17 10:39] #132 closed, assigned to nobody

[2017-09-18 10:38] prasadtalasila commented on #91
@krishnacharya please mention the PR that fixes this issue, close the issue and move it to done board.

[2017-09-18 10:42] prasadtalasila commented on #34
@rohangoel96 Please elaborate on the error. Specifically mention if the bug is still in the code base. If not, you can mention the commit that fixes this problem and close the issue.

[2017-09-18 11:01] prasadtalasila opened #134 "iteration problem on vis.plot_infomap_igraph()"
When we iterate for different channels and different cutoffs, this function enters deadlock.

Possible inputs to unit tests to infer the problem are:

1. small graph from one channel
1. large graph from one channel
1. small graph from two channels
1. large graph from two channels
1. small graph from four channels
1. large graph from four channels.

[2017-09-18 11:09] prasadtalasila opened #135 "download nltk.corpus download during install"
Add the following command after setup.py in install.sh

python -m nltk.downloader wordnet

[2017-09-18 11:14] prasadtalasila opened #136 "remove upper limit on node degree in vis.generate_log_plots()"
This function uses filter_val parameter that puts a limit on the higher degree of all the displayed nodes. We need to remove the limitation.

[2017-09-18 12:40] rohangoel96 commented on #34
The error was occurring due to a nickname which had only escape characters. Was fixed. Fill try to find the commit and refer.

[2017-09-18 12:40] #34 closed, assigned to rohangoel96

[2017-09-18 18:32] prasadtalasila commented on #88
completed in PR #137.

[2017-09-18 18:32] #88 closed, assigned to kaushik-rohit

[2017-09-18 18:32] prasadtalasila commented on #135
completed in PR #138.

[2017-09-18 18:32] #135 closed, assigned to krishnacharya

[2017-09-18 18:41] #76 closed, assigned to krishnacharya

[2017-09-18 19:02] kaushik-rohit commented on #102
fixed in PR #139

[2017-09-18 19:02] #102 closed, assigned to kaushik-rohit

[2017-09-20 07:10] prasadtalasila commented on #101
@krishnacharya @kaushik-rohit please create / edit a bullet list of pending work on this issue. Thanks.

[2017-09-20 09:42] krishnacharya commented on #91
Implemented in PR #119

[2017-09-20 09:42] #91 closed, assigned to krishnacharya

[2017-09-20 09:58] krishnacharya commented on #103
top channel picking done in PR #117

[2017-09-20 09:58] #103 closed, assigned to nobody

[2017-09-20 13:55] kaushik-rohit commented on #101
1. Degree analysis log plots for node vs degree (In progress)
2. Conversation characteristics and cut off (In progress)
3. Integrating slackware analysis (In progress)
4. Integrating scummVM analysis (Todo)
5. Iteration issue for multi-channel analysis (Todo)

[2017-09-20 17:28] prasadtalasila opened #141 "need for initial_row_filter in functions of vis.py module"
The following functions of vis.py module uses a parameter named initial_row_filter.

[code]

These functions select the top-rows based on the value of initial_rows_filter. Given percentile cutoff, different channels and variable time periods, how do we pre-compute the number?

@rohangoel96 please provide clarification on this issue.

[2017-09-20 18:46] rohangoel96 commented on #141
`initial_row_filter` is used to select the number of rows on which the plotting has to be performed (the values for cl/rt dies out to zero very soon). It was observed that there were rarely any values of significance after row number 20, so we skip the rows after that from visualization.
If we want to compute it automatically and not hardcode 20 for making the library more general, we could probab

[2017-09-20 19:03] prasadtalasila commented on #141
We are already using PERCENTILE cutoff remove the insignificant values. That work is being done in channel.py. It would be better to visualize the given table (truncated by PERCENTILE or otherwise) in vis.py.

@kaushik-rohit please remove the `initial_row_filter` from both the above mentioned functions. Do put in the unit tests for these two functions.

[2017-09-20 19:50] prasadtalasila opened #142 "TODO: Unexplored features of Infomaps algorithm"
As mentioned on the options of `Infomap` program, we have the following useful, but unexplored options of Infomap algorithm.

* two level / multi-level clustering
* clustering of multilayer (multiplex) networks
* create overlapping clusters
* ignore edges below an edge weight threshold

[2017-09-24 14:33] rohangoel96 commented on #98
@krishnacharya @krishnacharya this shouldn't be difficult? You just need to save them in a text file instead of printing?

[2017-09-24 14:35] rohangoel96 commented on #101
@kaushik-rohit please update if 1,2,3 have been completed? Also I guess scummvm works as a seperate branch and it just needs to integrated into one branch?
Regarding 5) I hope the yesterday's mail solves it for you?

[2017-09-24 14:36] rohangoel96 commented on #125
Yes! It was assumed that STARTING DATE > ENDING DATE. @kaushik-rohit and @kaushik-rohit can you just replace < and <= signs?

[2017-09-24 14:38] rohangoel96 commented on #130
Yeah, this error is probably because of the way code was written in the first place by dhruv bhaiya. if the number of nick names > MAX_EXPECTED_DIFF_NICKS, there'll be an index error. Note: We can't just set it to be a very high value because that'll significantly increase the running time.

[2017-09-24 14:39] rohangoel96 commented on #134
Do we have the script which resulted in deadlock?

[2017-09-24 14:39] rohangoel96 commented on #134
Do we have the script which resulted in deadlock?

[2017-09-24 14:39] rohangoel96 commented on #136
@kaushik-rohit , has this been resolved and merged? Please close if yes,

[2017-09-24 17:43] prasadtalasila commented on #101
@rohangoel96 Item-2 is closed and item - 1 is close to completion (PR #140). Item - 3 is being worked on by @krishnacharya. It would be good if you can work on item - 5 and #134.

[2017-09-24 18:47] rohangoel96 commented on #101
@prasadtalasila item 5 completed via: a1d754a546eecd2e736b422eff702e37e4d39a12 . Sample Output for 5 days and 0 cutoff:
![message-2013-1-1-multi-cutoff](https://user-images.githubusercontent.com/8400677/30785494-b856d0d8-a167-11e7-923c-06c5c2319c9a.png)
Regarding #134, as far as I understand the problem, you cannot iterate over different cutoffs (by changing it like config.CUTOFF in sample.py) sin

[2017-09-25 08:30] #136 closed, assigned to nobody

[2017-09-25 08:30] #141 closed, assigned to nobody

[2017-09-25 08:53] kaushik-rohit commented on #134
[25-Sep.txt](https://github.com/prasadtalasila/IRCLogParser/files/1328835/25-Sep.txt)
@rohangoel96 I don't think that changing config variable by assigning is a problem. If you have a look at the above attachment the cutoffs changes correctly. Point to note is these outputs are using print from functions in different files from where the config variable was changed.

[2017-09-25 09:05] rohangoel96 commented on #134
@kaushik-rohit Alright! I will try and see if I can recreate the scenario and fix it.

[2017-09-25 09:18] kaushik-rohit commented on #134
@rohangoel96 Our main objective here is to run analysis for different cut-offs/ different dates in a single run. We can obviously change to better config and it has been discussed as well. But for now that may take more time since we will need to change lot many lines due to config variable being used at many places. In case you come up with different solution which solve our main objective, I gue

[2017-09-25 09:31] rohangoel96 commented on #134
@kaushik-rohit Yeah i understand !

[2017-09-25 10:13] prasadtalasila commented on #111
Problem fixed in #133.

[2017-09-25 10:13] #111 closed, assigned to kaushik-rohit

[2017-09-25 10:19] kaushik-rohit opened #145 "ubuntu.py: Refactor to remove repetitions"
In ubuntu.py, some functions are being called with 1 or 2 different parameters which leads to lot of code repitition. This can be fixed by iterating over parameters lists and this would also improve the codeclimate issue.

[2017-09-25 18:18] #145 closed, assigned to nobody

[2017-09-26 08:54] kaushik-rohit opened #149 "users and directed message"
The labels/headers for users and messages are reveresed.

[2017-09-26 09:01] kaushik-rohit opened #150 "store response time cutoff"

[2017-09-26 09:05] kaushik-rohit opened #151 "heatmaps: plot not correct."
Regenerate heatmaps on monthly basis for kubuntu-devel

[2017-09-26 09:07] kaushik-rohit opened #152 "arc_graph: add a config variable for output directory"
Store arc graph in the output_directory mentioned in config.py

[2017-09-26 09:18] kaushik-rohit opened #153 "CU: truncate values for log plots"
The values after 3.5 are not useful to the anlysis hence we need to truncate the colums and use a cutoff values/threshold for determing the useful ranges of no. of nodes vs degree.

[2017-09-26 09:31] kaushik-rohit opened #154 "Presence-graph: save full CC, CU, UU graph as well"
The ubuntu.py lacks the full CC, CU, UU png save which should be added.

[2017-09-26 09:34] kaushik-rohit opened #155 "Hits: plots for different edge-weights cutoffs"
generate hits plots with 0,10,20 cut-off.

[2017-09-26 09:35] kaushik-rohit opened #156 "Error while generating multi-channel-message-exchange"
`Building graph object with EDGE WEIGHT THRESHOLD: 0
========> 30 on 5000 conversations
[[1, 'jussi', 'yofel'], [17, 'shadeslayer_', 'ScottK'], [6, 'Tm_T', 'shadeslayer_'], [4, 'shadeslayer_', 'Tm_T'], [14, 'yofel', 'ScottK'], [12, 'ScottK', 'shadeslayer_'], [4, 'shadeslayer_', 'jtechidna'], [18, 'ScottK', 'yofel'], [2, 'shadeslayer_', 'SteveRiley_'], [122, 'shadeslayer_', 'yofel'], [89, 'yofel',

[2017-09-26 10:49] rohangoel96 commented on #156
as far as I understand, @kaushik-rohit this is not an error. In multi-channel-message-exchange you are first storing a net file and then reading it. I think the file names for each of them are different hence the error. Btw you can also do this without saving the .net file and directly passing the graphs.

[2017-09-27 08:31] kaushik-rohit opened #158 "config: change config bins length to 60 mins"
As suggested in paper reviews the length of bins should change to 60.
1) Ignore end to end test since we have outdated data (for length 30)
2) Add unit-test.

[2017-09-27 08:50] #149 closed, assigned to nobody

[2017-09-27 08:50] #150 closed, assigned to nobody

[2017-09-27 08:50] #154 closed, assigned to nobody

[2017-09-27 08:50] #156 closed, assigned to nobody

[2017-09-27 10:01] #158 closed, assigned to nobody

[2017-09-27 20:31] kaushik-rohit commented on #152
@prasadtalasila From what I can understand the save_js function just creates the .js file and the other html and ex.css should be present in the directory. In this case we cannot allow custom directory.

[2017-09-27 20:40] prasadtalasila commented on #152
If the html and css remain static, then we can copy them from lib into a configured location in the ouput directory. The dynamically generated js file can be placed there as well.

[2017-09-27 20:42] prasadtalasila commented on #152
Looks like we are placing the required js file with data into [protovis](https://github.com/prasadtalasila/IRCLogParser/tree/dev/lib/protovis) directory. Instead, we can copy the protovis directory to output directory and place the generated js file there.

[2017-09-27 21:15] kaushik-rohit commented on #152
@prasadtalasila fixed in latest commit. Can be merged now.

[2017-09-27 22:08] #152 closed, assigned to nobody

[2017-09-28 12:23] rohangoel96 commented on #155
Is this an issue or a TODO item?

[2017-09-28 12:55] prasadtalasila commented on #155
PR #152 solved this problem. @rohangoel96 If you are looking for an issue to work on, you can make the dev branch code work for scummvm and slackware channels.

[2017-09-28 12:55] #155 closed, assigned to nobody

[2017-09-28 13:10] rohangoel96 commented on #101
@kaushik-rohit please close this when you think it's complete.

[2017-09-28 13:12] #125 closed, assigned to nobody

[2017-09-28 13:12] #98 closed, assigned to nobody

[2017-09-28 14:20] prasadtalasila commented on #101
We are still quite far from complete status. Assuming that all the pushed work results in proper analysis for Ubuntu channels, the pending work is as follows.

1. Add new code for scummvm and slackware channels
1. Add new code for correlation analysis

[2017-09-28 14:25] prasadtalasila commented on #134
Based on recent emails of @kaushik-rohit, we can assume that this code to be working properly. If working is confirmed, we can postpone creation of unit tests until after the paper is sent.

[2017-09-28 14:27] prasadtalasila commented on #151
Looks like PR #159 solves this problem. If so, @kaushik-rohit close this issue and move it to done on the project board.

[2017-09-28 14:30] prasadtalasila commented on #130
since we can paper results even with this bug in place, solving this bug is not a priority until paper is complete.

[2017-09-28 14:30] prasadtalasila commented on #87
not a priority until paper is pushed out.

[2017-09-28 14:31] prasadtalasila commented on #107
not a priority until the paper is pushed out.

[2017-09-28 14:50] kaushik-rohit commented on #151
@prasadtalasila No, this is a separate issue. The current heatmaps comes out on daily basis (one column means one day, we want one column to represent one month).

[2017-09-28 19:44] prasadtalasila commented on #151
If we can give a csv file to heatmap to generate the required visualization, we are happy for now.  The [line-117](https://github.com/prasadtalasila/IRCLogParser/blob/dev/ubuntu.py#L117) of ubuntu.py indicates a flexibility of using a user-provided heatmap.csv file to generate the visualization.

This issue can wait till the paper is done.

[2017-09-29 08:01] kaushik-rohit commented on #101
@rohangoel96 @prasadtalasila I ran the complete analysis yesterday and the ubuntu script is working fine. I will now work on the slackware integration.
What is the second task about?

[2017-09-29 10:54] prasadtalasila commented on #101
@kaushik-rohit please zip all the result, place them in drive/dropbox and send me email of all the link.

The details on the second task are given in the email discussion thread named **TODO list for paper revision**.

[2017-09-29 10:58] #153 closed, assigned to nobody

[2017-09-29 18:09] prasadtalasila opened #165 "conversation characteristics for different percentile cutoffs"
The ubuntu.py script should be suitably modified to run for PERCENTILE_CUTOFF values of 0, 1, 5, 10 and 20.

[2017-10-01 08:16] #165 closed, assigned to kaushik-rohit

[2017-10-03 08:42] rohangoel96 opened #168 "TODO: Correlation Analysis"
1. Channel Profile
    - [ ] a) activity graph ---> based on busy times of the current time period (a month), predict the busy times of next time period one row is message bins for one time period (a month) with second being message bins for next time period.
    - [x] b) conversation characteristics ---> provide statistical distribution as illustrated by box plot for RT, CL, CRT parameters

2. Ne

[2017-10-03 08:44] rohangoel96 commented on #101
Follow up: #168

[2017-10-03 08:44] #101 closed, assigned to krishnacharya, kaushik-rohit

[2017-10-04 09:24] rohangoel96 opened #170 "Replace plotly"
Free API key on plotly limits to only 100 uses per day (https://travis-ci.org/prasadtalasila/IRCLogParser/builds/283071557#L6576). Since buying an account on plotly is not feasible pltly should be replaced with something else. Other problems associated with plotly is that we require internet connection to be able to use plotly and hence use vis module from irclogparser. Moreover the online API cal

[2017-10-04 10:45] rohangoel96 commented on #168
@prasadtalasila @kaushik-rohit not sure what is meant by 'overlap percentages' and what methodology is wanted in 2b) 3a) 3b). Would be very helpful if someone could please elaborate on this if you guys have discussed on the same already?

[2017-10-04 11:12] prasadtalasila commented on #168
Let results of a variable (say keywords) for month-1 be represented as set M1 and for month-2 be represented as set M2.
M12 = set of common elements between M1 and M2.

The overlap percentage = |M12| * 100 / |M1|

[2017-10-04 11:35] rohangoel96 commented on #168
@prasadtalasila thanks.I actually was more concerned about 'over sequential time periods' esp in 2B)

[2017-10-05 13:57] rohangoel96 commented on #168
@prasadtalasila thanks for the explanation. But for 3b) HITS is used for finding experts and tf-idf was submodule in keywords so I am not sure how we are to find overlap between communities because neither of them detected 'communities' as such,.

[2017-10-06 04:02] kaushik-rohit opened #171 "Profiling required on presence methods"
The following function requires memory and time profiling.
1) network.channel_user_presence_graph_and_csv
2) community.infomap_igraph
3) vis.plot_infomap_igraph
4) network.degree_analysis_on_graph
5) vis.generate_log_plots

[2017-10-06 14:29] prasadtalasila commented on #168
@rohangoel96 You are right. Let's turn HITS and TF-IDF keywords into a prediction mechanism for sequential time periods.

Thus the work on HITS and TF-IDF would be similar to activity graph.

Thanks for pointing out the discrepancy.

[2017-10-06 14:55] rohangoel96 commented on #168
@prasadtalasila, I am extremely sorry but I still don't understand what you exactly mean.

[2017-10-06 16:02] prasadtalasila commented on #168
I am suggesting that HITS and TF-IDF should be done in a similar manner to 3a and 1a.

We take HITS results of January-2013 (M1) and February-2013 (M2). And then compute the overlap percentage as described before in this issue thread.

[2017-10-06 16:54] rohangoel96 commented on #168
Oh alright. And do we want to iterate?
1) Jan - Feb. Feb - March. March - April.....
2) Jan - Feb. Jan - March. Jan-April or do we want want the overlap percentages for all the  12C2 combinations.
I guess 1) makes sense as we are aiming for sequential time periods?

[2017-10-06 17:05] prasadtalasila commented on #168
We are undertaking correlation analysis at this point to show the relevance of measures chosen in analysis framework. A rigorous, long-time horizon analysis with robust predictors can wait for a future publication. Let's do it for Jan-Feb 2013 and Feb-March 2013. Lets see if the evidence is convincing enough for these two cases.

[2017-10-06 17:22] prasadtalasila commented on #170
Perhaps the open source versions of [plot.ly](https://github.com/plotly/plotly.py), [plotly.js](https://github.com/plotly/plotly.js) and [dash](https://github.com/plotly/dash) would solve the problem.

[2017-10-06 17:41] rohangoel96 commented on #168
Sure. I'll just try this and send the results across. I'm however doubtful of this giving anything significant because the users will change every month hence, minimum overlap. Anyways, let's see.

[2017-10-06 18:15] rohangoel96 commented on #168
My bad, the results are interesting. Sending in a mail soon.

[2017-10-06 19:12] prasadtalasila opened #172 "runtime errors on slackware code"
The slackware code as it exists on the **switch** branch on the server gives the following run-time error.
[code]
The function on that line is as follows.
[code]
The line containing return statement is throwing up an overflow error.

A point to note: the code execution is super slow even for a single month.

[2017-10-06 20:09] prasadtalasila commented on #172
I see the overflow error for two date ranges so far: 1 to 10 Jan 2013 and 1 to 30 Jan 2013. But the computation proceeds further and gives the results.

[2017-10-06 21:35] rohangoel96 commented on #168
1b) 2a) done via 65489dc6b4dd3f947a635820eba078726353566c

[2017-10-06 21:42] rohangoel96 commented on #172
@prasadtalasila @kaushik-rohit  regading the warning: https://stackoverflow.com/questions/4359959/overflow-in-exp-in-scipy-numpy-in-python

[2017-10-06 21:59] rohangoel96 commented on #168
3a) 3b) via a82965dab9df1dcad3bc7345d4f8ae74bd955f78

[2017-10-07 10:23] prasadtalasila opened #174 "increase speed of execution"
At the moment, the code goes through default garbage collection which is leading to massive amounts of memory usage. We need to aggressively garbage collect the variables or delete unused variables. We can also use [multiprocessing](https://docs.python.org/2.7/library/multiprocessing.html) techniques to parallelize the work.

### References ####
https://docs.python.org/2/library/gc.html
https://do

[2017-10-07 11:31] kaushik-rohit commented on #172
@prasadtalasila The error seems to be because of overflow in the number of decimal points supported by default type in numpy. We can either manually set this to dtype=float128 at time of creating the array x and y or we can normalize the data values beforehand.

[2017-10-07 11:37] prasadtalasila commented on #172
dtype=float128 seems to be a better suggestion. Normalization is not a good idea for comparison of a,b,c,MSE values for different message graphs. Please make the required modifications and open a PR on the existing dev branch.

[2017-10-07 12:47] prasadtalasila opened #175 "refactor cutoff_percentile from functions of channel.py"
The conversation cutoff percentile argument is only used at the end in the functions conv_len_conv_refr_time() and response_time(). For most part of the function, we just compute the complete RT, CL and CRT tables whose computation is really time and memory hungry. We can refactor these two functions to just compute the untrucated tables and use different cutoff percentile values on these tables.

[2017-10-07 12:49] prasadtalasila opened #176 "Move util functions from channel.py to util.py"
Move the truncate_table() and build_stat_dist() functions from channel.py to util.py. They truly belong to util.py module.

[2017-10-07 15:14] kaushik-rohit commented on #172
@prasadtalasila It seems we cannot directly cast the data to float128.
 `TypeError: Cannot cast array data from dtype('float128') to dtype('float64') according to the rule safe.`
In any case, this is not an error but a warning that we lose some precision for the calculated fit parameter. Do we actually want 128 floating precision?

[2017-10-07 18:05] rohangoel96 commented on #176
Also TODO: rename plot_data to plot_lineat_data https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/vis.py#L25

[2017-10-08 03:53] prasadtalasila opened #177 "refactor network.identify_hubs_and_experts()"
The identify_hubs_and_experts() receives log and nick data to construct the message exchange graph all over again. In a typical analysis, we anyway construct message exchange graph using network.message_number_graph().  The same function again gets invoked on [line-740](https://github.com/prasadtalasila/IRCLogParser/blob/dev/lib/analysis/network.py#L740) of network.identify_hubs_and_experts() func

[2017-10-08 07:52] prasadtalasila opened #178 "move config to top-level"
The configuration is to be moved to top-level so that it becomes easy to specify. Having one global config file would also make it easy to run analysis on multiple communities.

With the present setup, running analysis on different communities like slackware and ubuntu is proving troublesome. Some of the python files are using config module like community and user, These files are also common for

[2017-10-08 09:14] prasadtalasila commented on #178
I see quite a bit of scope for introducing concurrency into the project. For concurrency, the best way to pass configuration is via function parameters. From the concurrency perspecitve, the sooner we get to config object, the better it is.

[2017-10-08 09:24] prasadtalasila opened #179 "function to reduce network"
We need a polymorphic function that can reduce a graph based on the following parameters.

* minimum edge weight
* top vertices as defined by total degree of a node
* filter vertices based on attributes
* filter edges based on attributes

igraph and networkx may have functions for some of these tasks. In that case, we use the built-in functions of igraph / networkx.

[2017-10-08 10:01] prasadtalasila commented on #179
As suggested by @kaushik-rohit , some links that might be useful to reduce the time taken for larger graphs:

1. https://stackoverflow.com/questions/9402255/drawing-a-huge-graph-with-networkx-and-matplotlib
2. https://stackoverflow.com/questions/44893934/very-slow-network-graph-animation-in-pythons-matplotlib-with-networkx

### Reduction ###

1. You can take a subgraph if you can select the vertic

[2017-10-08 11:49] prasadtalasila commented on #178
For now, the only active configuration changes we are making in lib/slack/config.py vis-a-vis lib/config.py are the date range and I/O directories. In slack.py / slack-gc.py, we are fiddling with config.CUTOFF_PERCENTILE and config.THRESHOLD_MESSAGE_NUMBER_GRAPH. The functions that use these two config variables have already been moved to lib/slack directory. There fore, it looks safe for now.
@ka

[2017-10-08 13:06] kaushik-rohit commented on #178
@prasadtalasila Yes, after carefully looking at the modules, I see that the analysis won't be affected for now but this should be top priority work after we are done with paper related work.

[2017-10-09 13:39] prasadtalasila commented on #168
@rohangoel96 Given the probabilistic nature of Infomaps community detection, it may be better to show the consistency of Infomaps code length rather than overlap percentages of the communities discovered over sequential time periods.

What I am really suggesting is to convert 2b into box plot that is similar to 1b.

[2017-10-09 13:47] prasadtalasila commented on #168
For 1a) a simple predictability metric would be correlation between the vectors of bin totals between two consecutive time periods.

For a month, take the message bin totals for each hour. The present message bins code on dev branch already computes for 24 hours of day. Totals obtained for a month form 24-element vector. We can get a similar 24-element vector for consecutive month. On these two ve

[2017-10-09 22:02] rohangoel96 commented on #168
@prasadtalasila sure. That seems like a nice idea. For calculating correlation between those vectors, is pearson coefficient a good measure or are we looking for something else?

[2017-10-09 22:19] prasadtalasila commented on #168
Pearson coefficient would do.

[2017-10-09 22:42] prasadtalasila opened #182 "Port correlation analysis to slackware"
@rohangoel96 implemented correlation analysis on ubuntu channels. Once verified, this analysis needs to be added to slackware.

This work is not a priority now; it can be taken up after the paper is pushed out.

[2017-10-09 22:43] prasadtalasila opened #183 "scummvm analysis"
When we are implementing scummvm, it may be better to start with ubuntu code base and bring the changes that exist in scummvm branch. However for the scummvm driver, it is better to adopt the structure available in slack-gc.py.

[2017-10-10 17:20] rohangoel96 opened #184 "Reserved words in Infomaps."
Find a permanent solution for the situation when the nicks are reserved words in Infomaps - leads to an error.
Reference for the error: https://github.com/prasadtalasila/IRCLogParser/blob/dev/ubuntu.py#L258

[2017-10-10 18:22] rohangoel96 commented on #168
@prasadtalasila  kindly check the results and close this issue  and merge #180

[2017-10-10 19:24] prasadtalasila commented on #168
I launched the ubuntu.py driver on the server. As soon as its done, I will cross-check the results and close this issue.
In the mean time, please look at the issue #183.

[2017-10-11 09:34] rohangoel96 opened #186 "Merging #180 and #185"
Some of the changes in #180 (specifically the change in infomaps function) can not be made in #185 (for the new file scummvm.py) before #180 is merged.

[2017-10-11 11:02] prasadtalasila commented on #186
@rohangoel96 #180 merged with the dev branch. You can go ahead and address this issue.

[2017-10-11 16:36] prasadtalasila opened #187 "remove plot.ly credentials from config.py"
Right now, plot.ly credentials have been placed in config.py. It seems that plot.ly looks up the credentials automatically from  ~/.plotly/.credentials file. We can move the credentials out of the git repository.

[2017-10-12 10:09] prasadtalasila opened #188 "run-time error for correlation on degree distribution for kubuntu channel"
code from     commit has been run with the help of ubuntu.py driver file. We get the following run-time error.
[code]

The error is being thrown by [lines 196 to 221 of ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/dev/ubuntu.py#L196-L221).  The code in these lines runs well for kubuntu-devel and ubuntu-devel IRC channels. It only fails for kubuntu IRC channel. Thus the error may

[2017-10-13 08:35] prasadtalasila commented on #101
work complete with b2dffdc.

[2017-10-13 08:36] prasadtalasila commented on #186
work complete with b2dffdc

[2017-10-13 08:36] #186 closed, assigned to nobody

[2017-10-13 08:36] prasadtalasila commented on #183
work complete with b2dffdc

[2017-10-13 08:36] #183 closed, assigned to nobody

[2017-10-13 08:38] prasadtalasila commented on #171
Please see the notes on [refactoring](https://github.com/prasadtalasila/IRCLogParser/wiki/Refactoring-Suggestions) wiki page.

[2017-10-13 08:41] prasadtalasila opened #189 "create / update unit tests for lib/analysis code"
Create and update unit tests for lib/analysis code. We need to follow parameterized test patterns used in functional tests.

[2017-10-13 08:42] prasadtalasila opened #190 "create / update unit tests for util and vis modules"
Create and update unit tests for lib/util and lib/vis modules. We need to follow parameterized test patterns used in functional tests.

[2017-10-13 08:43] prasadtalasila opened #191 "integrate test coverage into travis"
The test coverage tool needs to be integrated into travis

[2017-10-16 06:24] prasadtalasila commented on #191
@kaushik-rohit we can use [coverage.py](https://coverage.readthedocs.io/en/coverage-4.4.1/) tool to create a test coverage report. See [stackoverflow](https://stackoverflow.com/questions/34728734/python-unit-test-coverage) for one possible solution.

Please also check out [z3c.coverage](https://pypi.python.org/pypi/z3c.coverage) to produce package specific coverage reports.

Once the coverage is g

[2017-10-18 05:00] prasadtalasila opened #192 "statistical distribution of the number of words spoken by users"
We are collecting all the messages sent by each user of a channel. Using this information, we need to count the total number of words spoken by each user and create a statistical distribution. We can then apply the cutoff strategy used in conversation characteristics to select significant users. At the moment, we are applying a hard cufoff of 100 words.

[2017-10-18 05:08] prasadtalasila commented on #151
Looks like the dev branch already has the heatmap correctly generated in both csv and pdf formats. @kaushik-rohit, can we close this issue?

[2017-10-18 05:23] prasadtalasila commented on #170
@rohangoel96 @kaushik-rohit
I have purchased plot.ly student license that allows us to generate results. We can now generate up to 1000 images per day. Once the plot.ly credentials are moved out of config.py (issue #187) and into a config file or environment variable, we can use the license even on travis.

[2017-10-18 05:35] #168 closed, assigned to nobody

[2017-10-18 05:40] prasadtalasila commented on #89
@rohangoel96 @kaushik-rohit shall we abandon the pip packaging approach for now? We have the install.sh that is doing the installation job perfectly well on a clean machine. Once the program is cleanly refactored, we can try this again.

My personal choice would be to close this and move the master to the latest commit on the dev branch. What do you say?

[2017-10-18 05:42] prasadtalasila commented on #172
Seems like this warning exists for analysis of all communities. Let's not get into 128 bit precision business now. I am closing this.

[2017-10-18 05:42] #172 closed, assigned to kaushik-rohit

[2017-10-18 05:49] prasadtalasila commented on #86
For now, we will use virtualenv or clean installation approaches. I will close the issue and delete the respective branch.

[2017-10-18 05:49] #86 closed, assigned to nobody

[2017-10-18 05:59] prasadtalasila commented on #87
#191 already covers this work.

[2017-10-18 05:59] #87 closed, assigned to nobody

[2017-10-18 06:01] prasadtalasila commented on #53
We are moving the pip packaging to future.

[2017-10-18 06:01] #53 closed, assigned to rohangoel96, kaushik-rohit

[2017-10-18 06:03] prasadtalasila opened #193 "prune branches"
The branches `slack-gc, slack, scummvm_integration, scummvm, v1.0.0` seem to have lost their value and probably can be deleted. Is there any objection from either of you to delete all of these branches?

I am suggestion deletion of v1.0.0 because we are abandoning the pip packaging for now.

[2017-10-18 07:27] prasadtalasila opened #194 "conversation characteristics for most active and least active hours"
We need to compute conversation characteristics for a given hour / bin-period. There was a request from paper reviewers that the conversation characteristics be determined for least active and most active bin-periods. That way, we can make data-backed assertion, **"it is better to be present in the most active time periods."**

[2017-10-18 07:36] prasadtalasila opened #195 "calculate conversation characteristics separately for new and experienced users"
Separate all the conversations into two categories: conversations involving at least one new user and another conversations involving only experienced users. Now separately calculate the conversation characteristics for each of these categories separately.

[2017-10-19 19:24] kaushik-rohit commented on #191
Below is the result of code coverage run.

Name                            Stmts   Miss  Cover   Missing
lib/analysis/channel.py           226    217     4%   25-160, 182-325, 341-351, 376-400
lib/analysis/community.py          61     61     0%   1-108
lib/analysis/network.py           450    106    76%   196-197, 201-215, 253-254, 259-264, 269-288, 374-382, 398-427, 514-520, 594, 740-789
lib/anal

[2017-10-21 13:37] kaushik-rohit commented on #190
@prasadtalasila Can you please explain what you mean by parameterized test patterns here? Also do we need to introduce more test or update the current ones.

[2017-10-21 14:01] prasadtalasila commented on #190
Please see lines [67-73](https://github.com/prasadtalasila/IRCLogParser/blob/dev/test/tests.py#L67-L73) for an example of parameterized test.

[2017-10-23 16:49] kaushik-rohit commented on #190
@prasadtalasila We already have tests for util under /test/unit_tests.py and I don't think converting them to parameterized test gives us any advantage here since these test don't run on log data but some intermediate result, even if we modify it to parameterized tests the parameters are going to be a long list for different version of arguments and that is rather not useful. I wrote the test as p

[2017-10-23 16:52] kaushik-rohit commented on #190
@prasadtalasila The last comment also holds true for vis tests. I don't thinks parameterization is helpful in unittest. In end-to-end test this gives us advantage of reducing code duplication since ddt helps us here in running the same code for different logs.

Although, We need to include more test which are not covered for newer functions introduced or those for which unit-test were not written

[2017-11-06 09:44] prasadtalasila commented on #95
The tests in test.py are end-to-end functional tests. They are in the correct location. The test.py file is to be renamed to test_functional.py

[2017-11-06 09:48] #193 closed, assigned to nobody

[2017-11-06 09:48] prasadtalasila opened #200 "create unit tests for nickTracker.py module"

[2017-11-06 10:04] prasadtalasila opened #201 "refactor unit tests for lib/analysis/channel.py"
add ddt part

[2017-11-06 10:04] prasadtalasila opened #202 "add unit tests for lib/analysis/community.py"

[2017-11-06 10:05] prasadtalasila opened #203 "add unit tests for lib/analysis/user.py"

[2017-11-07 21:16] #191 closed, assigned to nobody

[2017-11-15 10:34] prasadtalasila commented on #190
parameterized unit tests for util.py module have been committed.

[2017-11-15 10:38] prasadtalasila opened #206 "create new software release"
Tasks to be completed:

1. clean up of driver files.
1. Add driver files to code coverage ignore list.
1. Provide short intro on the release page.

[2017-11-27 10:12] prasadtalasila commented on #206
Please exclude drivers and installation python scripts from test coverage. This can be done by suitably modifying codeclimate.yml.

[2017-12-02 13:45] #206 closed, assigned to nobody

[2017-12-04 18:44] prasadtalasila opened #211 "use cacher to reduce Travis CI build time"
Travis CI has a way to [cache dependencies](https://docs.travis-ci.com/user/caching/); there is a way to use the feature for [python](https://docs.travis-ci.com/user/caching/#pip-cache). This feature along with virtenv should reduce the build time tremendously.

[2017-12-05 11:45] prasadtalasila opened #212 "Travis CI build problems"
In the travis `after_success` stage, we are using mprof, sfood / sfood-graph (from snakefood, sfood-graph package) and dot programs. These programs are not being installed by the install script.

For an example, please see a [sample log](https://travis-ci.org/prasadtalasila/IRCLogParser#L6995).

[2017-12-20 18:43] #200 closed, assigned to nobody

[2017-12-20 18:44] kaushik-rohit commented on #200
Solved with https://github.com/prasadtalasila/IRCLogParser/pull/217

[2017-12-21 13:33] rohangoel96 opened #219 "TODO: Update README.md"

[2017-12-21 13:35] prasadtalasila commented on #219
@rohangoel96 Please specify the missing / outdated items so that they can be rectified and cross-checked.

[2017-12-21 13:42] rohangoel96 commented on #219
@prasadtalasila it seems to be updated right now. I just actually read a mail which I received a few days back (was incorrectly marked as spam) from a developer who across the repo and was enquiring about the same. He didn't see our dev branch and looking at the master, thought that we aren't working on the project so I just opened the issue. Now I see that recently dev was merged with master in t

[2017-12-21 14:04] prasadtalasila commented on #219
I can see a few points of improvement.

* Mentioning the [installation](https://github.com/prasadtalasila/IRCLogParser#installation) clearly in one / two sentences and then follow it up with shell commands. Also mention the approximate time that is likely to take to complete the installation process.
* License update to [GPL - 3.0](https://github.com/prasadtalasila/IRCLogParser#license)
* Spelling

[2017-12-21 14:08] prasadtalasila commented on #212
The travis is sending emails to Krishna Acharya (the line can be removed)

Comment out the mprof and sprof commands from travis until we can install and run these tools properly.

[2017-12-23 17:34] #219 closed, assigned to kaushik-rohit

[2017-12-23 17:36] #212 closed, assigned to nobody

[2018-01-08 18:20] Kausam commented on #202
I am working on this.

[2018-01-08 18:21] Kausam commented on #202
I am working on this.

[2018-01-13 05:38] prasadtalasila opened #226 "prune branches"
The pip-broken and v1.0.0 branches are not being actively maintained. Are they still useful to the project?

We are far away from pip packaging. Without actually finishing the testing and refactoring, it would not be prudent to think of pip packaging. Once these two tasks are complete, we can attempt the pip packaging again.

@rohangoel96 If you don't have any major objections, I suggest that we r

[2018-01-13 05:42] #95 closed, assigned to nobody

[2018-01-13 05:43] prasadtalasila commented on #89
The packaging will be attempted again after completing the testing and refactoring work.

[2018-01-13 05:43] #89 closed, assigned to nobody

[2018-01-14 04:30] #226 closed, assigned to rohangoel96

[2018-01-14 08:04] prasadtalasila commented on #202
@Kausam any progress made on the unit tests?

[2018-01-15 05:07] prasadtalasila commented on #190
@bhuvangupta008 please work on this issue.

[2018-01-15 05:11] prasadtalasila opened #227 "create unit tests for network.py module"

[2018-01-15 19:04] Kausam commented on #202
I discussed this with @kaushik-rohit and we have decided to move the function convert_id_name_community to the deprecated folder.

[2018-01-15 19:07] prasadtalasila commented on #202
@Kausam Alright. Please send a PR to affect the change.

[2018-01-18 10:07] prasadtalasila opened #230 "Create tutorial wiki page for mock module"
A tutorial wiki page on use of mock module in unit tests would be needed to bring in uniformity in testing.

[2018-01-19 11:28] prasadtalasila opened #231 "Templates and labels for the project"
We need to have the following templates for the project contributors.

1. Issue template
1. Contributing guidelines template
1. Code of conduct template

We also need appropriate labels for issues and pull requests of the project.

We can adopt and modify the basic templates and issue labels of the [autolabcli](https://github.com/AutolabJS/autolabcli) project.

[2018-01-28 11:57] prasadtalasila opened #236 "Shrink the repository"
The repository size has grown beyond 100MB of which bulk of the size contribution comes from the test data files.

[2018-01-28 21:45] prasadtalasila opened #238 "spec condition for all mocks in unit tests of network.py"
The unit tests of network.py were merged in PR #232. We can specify restrictions on the invocation of methods by making all the invocations comply with the method signatures as they exist in network.py module. This restriction was put in place for all the unit tests of vis.py module as they came in PR #225.

@kaushik-rohit please update the unit tests of network.py with [autospeccing](https://docs

[2018-01-28 21:46] prasadtalasila commented on #227
PR #232 completes the work for lib/analysis/network.py module. Only the slack part of analysis is still pending.

[2018-01-29 08:43] kaushik-rohit commented on #202
Closing this, since the function was deprecated and the unit-testing for other function is already done.

[2018-01-29 08:43] #202 closed, assigned to nobody

[2018-01-29 10:38] #238 closed, assigned to kaushik-rohit

[2018-02-04 10:04] prasadtalasila commented on #230
The wiki pages: [mocks](https://github.com/prasadtalasila/IRCLogParser/wiki/Mock) and [comparison with mockito](https://github.com/prasadtalasila/IRCLogParser/wiki/Comparison-of-unittest.mock-and-Mockito-Library), have been updated.

[2018-02-04 10:04] #230 closed, assigned to bhuvangupta008

[2018-02-04 10:36] prasadtalasila opened #243 "Update unit test patterns"
Update [wiki page](https://github.com/prasadtalasila/IRCLogParser/wiki/Unit-Test-Patterns) for oft used unit test patterns

[2018-02-04 10:46] prasadtalasila commented on #227
For the slack/analysis/network.py, the unit tests are pending for message_number_graph() and message_time_graph().

[2018-02-04 15:25] prasadtalasila commented on #203
PR #241 solves the issue.

[2018-02-04 17:50] bhuvangupta008 opened #244 "Missing test reports in CodeClimate"
Code Climate is not showing up the test coverage report for lib/slack/ and lib/scummvm/nickTracker.py . The same are reported under coverage in travis build logs though.

[2018-02-04 21:02] prasadtalasila commented on #236
Not a priority now. Will be worked on later.

[2018-02-04 21:02] #236 closed, assigned to nobody

[2018-02-04 21:05] prasadtalasila commented on #94
This work was complete a long time ago.

[2018-02-04 21:05] #94 closed, assigned to nobody

[2018-02-04 21:06] prasadtalasila commented on #130
@kaushik-rohit you might be experiencing this bug during the unit tests. It is a good news if the test actually fails for this scenario. We can set a failure expectation for the test, fix the code later and then expect the test to pass.

[2018-02-04 21:18] prasadtalasila commented on #195
Not a priority now. Will be worked on later.

[2018-02-04 21:21] prasadtalasila commented on #107
The work is complete.

[2018-02-04 21:21] #107 closed, assigned to nobody

[2018-02-04 21:23] prasadtalasila commented on #194
Not a priority now. Will be worked on in future.

[2018-02-04 21:23] #194 closed, assigned to nobody

[2018-02-04 21:24] #195 closed, assigned to nobody

[2018-02-04 21:27] prasadtalasila commented on #192
Will be worked on in future. Not a priority right now.

[2018-02-04 21:27] #192 closed, assigned to nobody

[2018-02-04 21:30] prasadtalasila commented on #175
Will be worked on later.

[2018-02-04 21:30] #175 closed, assigned to nobody

[2018-02-04 21:38] prasadtalasila commented on #189
This work is tracked through dedicated issues for all the modules inside the lib/analysis/ directory.

[2018-02-04 21:38] #189 closed, assigned to nobody

[2018-02-04 21:41] prasadtalasila commented on #174
will be worked on later.

[2018-02-04 21:41] #174 closed, assigned to nobody

[2018-02-04 21:43] prasadtalasila commented on #108
Plotly is a paid version with its own limits. It is better to migrate all the plotting requirements to d3.js. This is for future.

[2018-02-04 21:43] #108 closed, assigned to nobody

[2018-02-04 21:45] prasadtalasila commented on #170
This is for future.

[2018-02-04 21:45] #170 closed, assigned to nobody

[2018-02-04 21:48] prasadtalasila commented on #72
Not a priority now. Will be worked on in future.

[2018-02-04 21:48] #72 closed, assigned to kaushik-rohit

[2018-02-04 21:49] prasadtalasila commented on #75
Not a priority now, will be worked on in future.

[2018-02-04 21:49] #75 closed, assigned to nobody

[2018-02-04 21:51] prasadtalasila commented on #74
Not a priority now. Will be worked on later.

[2018-02-04 21:51] #74 closed, assigned to nobody

[2018-02-04 21:53] prasadtalasila commented on #142
Will be worked on in future.

[2018-02-04 21:53] #142 closed, assigned to nobody

[2018-02-04 21:56] prasadtalasila commented on #179
Future work. Not a priority right now.

[2018-02-04 21:56] #179 closed, assigned to nobody

[2018-02-04 21:58] #177 closed, assigned to nobody

[2018-02-04 22:00] prasadtalasila commented on #85
Let's get the software to work perfectly on debian system first. And then we can think about porting to windows and other Linux platforms.

[2018-02-04 22:00] #85 closed, assigned to nobody

[2018-02-07 07:01] prasadtalasila commented on #211
The present setup takes about 13 mins to build on travis with time breakup as follows.
* pip setup.py   3 min
* functional tests 8 min
* unit tests  2 minutes

Ideas to implement:
* We can use travis cache for pip installs, ubuntu binaries to reduce build time.
* run concurrent build stages.

A sample travis.yml can be found in [MLCAT project](https://github.com/DeveloperCAP/MLCAT/blob/master/.tra

[2018-02-09 17:42] #190 closed, assigned to bhuvangupta008

[2018-02-10 01:09] prasadtalasila commented on #243
The [wiki page](https://github.com/prasadtalasila/IRCLogParser/wiki/Unit-Test-Patterns) has been created.

[2018-02-10 01:09] #243 closed, assigned to nobody

[2018-02-10 01:17] prasadtalasila commented on #227
The work on message_number_graph() and message_time_graph() ofslack/analysis/network.py has been deferred for the refactoring stage.

[2018-02-10 01:17] #227 closed, assigned to bhuvangupta008

[2018-02-10 01:21] prasadtalasila commented on #231
Not a priority now.

[2018-02-10 01:23] prasadtalasila commented on #244
That's because we ignored those paths in [codeclimate.yml](https://github.com/prasadtalasila/IRCLogParser/blob/master/.codeclimate.yml) config file.

[2018-02-10 01:23] #244 closed, assigned to nobody

[2018-02-10 01:28] prasadtalasila commented on #78
Not a priority now.

[2018-02-10 01:28] #78 closed, assigned to nobody

[2018-02-10 01:29] prasadtalasila commented on #67
Not a priority now.

[2018-02-10 01:29] #67 closed, assigned to nobody

[2018-02-10 01:31] prasadtalasila commented on #187
Not a priority now.

[2018-02-10 01:31] #187 closed, assigned to nobody

[2018-02-10 01:33] prasadtalasila commented on #84
Also checkout a [relevant issue](https://github.com/DeveloperCAP/MLCAT/issues/91).

This is not a priority for now.

[2018-02-10 01:33] #84 closed, assigned to nobody

[2018-02-10 01:36] prasadtalasila commented on #40
Not a priority for now.

[2018-02-10 01:36] #40 closed, assigned to nobody

[2018-02-10 01:37] prasadtalasila commented on #171
Not a priority right now.

[2018-02-10 01:37] #171 closed, assigned to nobody

[2018-02-10 01:41] prasadtalasila commented on #178
Not a priority for now.

[2018-02-10 01:41] #178 closed, assigned to nobody

[2018-02-10 01:42] prasadtalasila commented on #134
@kaushik-rohit Is this issue resolved? If so, please close this issue.

[2018-02-10 01:45] prasadtalasila commented on #176
Not a priority right now.

[2018-02-10 01:45] #176 closed, assigned to nobody

[2018-02-10 01:48] prasadtalasila commented on #182
Not a priority right now.

[2018-02-10 01:48] #182 closed, assigned to nobody

[2018-02-10 01:51] prasadtalasila commented on #151
Not a priority right now.

[2018-02-10 01:51] #151 closed, assigned to nobody

[2018-02-10 01:52] prasadtalasila commented on #201
@Kausam any updates on this work?

[2018-02-10 01:58] prasadtalasila commented on #203
@Kausam The code coverage on user.py [shows 78%](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/analysis/user.py). Are you still working on this issue?

[2018-02-10 02:03] prasadtalasila commented on #231
@kaushik-rohit If you are done with the pending work, this issue might be worth looking into.

We are going to use [coveralls](https://docs.coveralls.io/) to have reports on functional test coverage. Please add the same to travis.yml. Once the functional test reporting works, the README.md requires update as well to clearly show badges of unit tests and integration tests.

[2018-02-10 02:16] Kausam commented on #203
@prasadtalasila Yes, I am working on this. Please check slack for details.

[2018-02-10 16:08] #134 closed, assigned to nobody

[2018-02-10 16:19] kaushik-rohit commented on #201
@prasadtalasila I am working on this issue. We haven't used ddt for unit-test but only for functional tests. They are already in functional-test directory with ddt format. Also the coverage for channel.py is 99% so all the code is being triggered, running it for more data(in ddt format) would only slow our build. Should I refactor this in ddt format?

[2018-02-11 13:55] kaushik-rohit commented on #231
@prasadtalasila Sir, I am working on the coveralls integration. Have you set the token to Travis?

[2018-02-11 16:43] prasadtalasila commented on #231
@kaushik-rohit The PR #250 was reviewed and new badge given for coveralls integration. The coveralls does not require setting token on travis for public repositories.

[2018-02-11 17:46] prasadtalasila commented on #201
@kaushik-rohit Lets not change this for now.

[2018-02-11 17:46] #201 closed, assigned to nobody

[2018-02-12 06:14] #203 closed, assigned to nobody

[2018-02-12 06:15] #231 closed, assigned to kaushik-rohit

[2018-02-12 06:33] prasadtalasila opened #253 "Improvements to lib/vis.plot_infomap_igraph() and its tests"
### Generate community plot with out membership information
The lib/vis.plot_infomap_igraph() function currently plots igraph output only when membership information is specified. We want the plot to be done even if the membership information is not present.

### Add test for showing plot with edges
The new test should cover line-204 of lib/vis.py

### Add test for `aux_data`
aux_data specifies mu

[2018-02-12 06:43] prasadtalasila opened #254 "Improvements to tests of nickTracker.py"
The nickTracker module exists at three places:
* [lib/nickTracker.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/nickTracker.py)
* [lib/scummvm/nickTracker.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/scummvm/nickTracker.py)
* [lib/slack/nickTracker.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/slack/nickTracker.py)

There are three lines

[2018-02-12 07:02] prasadtalasila opened #255 "Improve lib/in_out/reader.py"
The lines 53-54 of [reader.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/in_out/reader.py) will never be executed. They should be removed.

The if condition on line 50 of reader.py must have a matching else condition which corresponds to the scenario of logs being not available. We must throw a FileNotFound exception.

[2018-02-12 07:05] prasadtalasila opened #256 "Add unit test for saver.py"
The lines 26-28 of [saver.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/in_out/saver.py) need to be covered via a new unit test.

[2018-02-12 07:07] prasadtalasila commented on #255
A matching test must be added to [slack/reader.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/slack/in_out/reader.py) as well.

[2018-02-12 07:15] prasadtalasila opened #257 "Remove PERCENTILE cutoff strategy from channel.py"
The channel.py module has percentage cutoff strategy. We need to remove it for now. The relevant files are:
* [slack/analysis/channel.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/slack/analysis/channel.py)
* [lib/analysis/channel.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/analysis/channel.py)

We need to remove lines 319-322 that correspond to the PERCEN

[2018-02-12 07:34] prasadtalasila opened #258 "Improvements to network.py"
The network.py module exists at two locations:
* [lib/analysis/network.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/f2cf9a03ec882fff166512f39048c1f73cb252af/lib/analysis/network.py)
* [slack/analysis/network.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/slack/analysis/network.py)

Improvements required:
1. To add unit test for message_time_graph() in slack/analysis

[2018-02-12 07:44] prasadtalasila opened #259 "Improvements for community.py"
The infomap_igraph() function of [community.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/analysis/community.py) has the line-44 not covered in a test. This line must be put under else condition of line-28 and a new test needs to be written to cover the else condition.

[2018-02-12 08:07] prasadtalasila opened #260 "Improvements to user.py"
The unit tests of [user.py](https://codecov.io/gh/prasadtalasila/IRCLogParser/src/dev/lib/analysis/user.py) needs the following improvements:
1. reduce minimum of words spoken to increase coverage for top_keywords_for_nick() function.
1. Adjust log_dict of keywords() to trigger coverage for lines 219-220.

[2018-02-12 17:52] #256 closed, assigned to bhuvangupta008

[2018-02-14 06:20] prasadtalasila commented on #253
Work completed in PR #263.

[2018-02-14 06:20] #253 closed, assigned to kaushik-rohit

[2018-02-14 06:37] prasadtalasila commented on #211
issue solved via #262.

[2018-02-14 06:37] #211 closed, assigned to nobody

[2018-02-14 08:44] #257 closed, assigned to Kausam

[2018-02-17 14:10] bhuvangupta008 commented on #254
- Modified log files for lib/nickTracker.py.
- For other two, since there are no different channels, we need to refactor the code to remove these uncovered redundant lines.

[2018-02-19 01:26] prasadtalasila commented on #254
Issue solved via PR #265 and #266.

[2018-02-19 01:26] #254 closed, assigned to bhuvangupta008

[2018-02-19 01:36] prasadtalasila commented on #259
solved by PR #267

[2018-02-19 01:36] #259 closed, assigned to bhuvangupta008

[2018-02-19 03:11] prasadtalasila commented on #258
Pending coverage:

1. lines 95-96 of lib/analysis/network.py should have been covered.
1. lines 266 of lib/analysis/network.py should have been covered.
1. lines 796 - 801 of lib/analysis/network.py should have been covered.

[2018-02-19 06:13] prasadtalasila opened #271 "Incorrect operation of keyword_cluster() function"
# TruncatedSVD
- the [doc](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html) specifies that the argument n_features should be strictly greater than n_components .
- But the n_components argument is hardcoded to 100. This causes the function to fail for small data sets where the number of features is less than or equal to 100.

[2018-02-19 06:19] prasadtalasila commented on #58
The travis was changed and snakefood integration was lost. We need to bring it back.

[2018-02-19 19:03] kaushik-rohit opened #272 "wrong parsing of nick receiver list"
In our current implementation of parsing the nick sender from a line, we are splitting the log line on semicolon(:) and checking for string before it. This is not always a correct way and could fail sometimes. One such example is described,

[code]
Here, the nick receiver would wrongly be identified as help.

[2018-02-20 07:08] prasadtalasila commented on #255
Closed via PR #270

[2018-02-20 07:08] #255 closed, assigned to Kausam

[2018-02-21 07:21] prasadtalasila commented on #260
Closed via PR #275.

[2018-02-21 07:21] #260 closed, assigned to Kausam

[2018-02-21 07:36] prasadtalasila opened #276 "Integration test for lib.analysis.user.keywords() function"
The correct location for this test would be /test/integration-test/test_lib/test_analysis/test_user.py.

The integration test would patch the config dictionary, but would not patch any of the function calls.

[2018-02-21 07:40] prasadtalasila opened #277 "Generate list of integration tests"
We need to create a list of useful integration tests.

[2018-02-21 07:45] prasadtalasila commented on #277
Tentative list:
1. lib.analysis.channel.response_time()
1. lib.analysis.channel.conv_len_conv_refr_time()
1. lib.analysis.network.degree_node_number_csv()
1. lib.analysis.network.identify_hubs_and_experts()
1. lib.analysis.network.message_number_graph()
1. lib.analysis.network.message_number_bins_csv()
1. lib.analysis.network.message_time_graph()
1. lib.analysis.user.keywords()
1. lib.analysis.use

[2018-02-21 09:59] prasadtalasila commented on #58
Closed via PR #274.

[2018-02-21 09:59] #58 closed, assigned to kaushik-rohit

[2018-02-21 11:43] prasadtalasila opened #278 "Incorrect patching of modules in unit tests"
Some of the unit tests do not patch the dependencies correctly. An example is the [unit test](https://github.com/prasadtalasila/IRCLogParser/blob/master/test/unit-test/test_lib/test_analysis/test_network.py#L249) of lib.analysis.network.message_number_bins_csv() function. Instead of patching the used functions, this unit test patches the util module itself.

Such incorrect usage instances need to

[2018-02-21 11:49] prasadtalasila commented on #278
Also the [unit tests](https://github.com/prasadtalasila/IRCLogParser/blob/master/test/unit-test/test_lib/test_util.py) of lib.util module do not patch the dependencies. Example of these scenarios are:
1. The need to patch to_edges() function in the unit test of to_graph() function.
1. The need to patch correctLastCharCR() function in the unit test of correct_last_char_list() function.
1. The need

[2018-02-22 06:30] prasadtalasila commented on #277
Work is complete.

[2018-02-22 06:30] #277 closed, assigned to bhuvangupta008

[2018-02-22 06:42] prasadtalasila opened #279 "Integration tests for lib.analysis.channel module"
The following functions of the module need integration tests:
1. lib.analysis.channel.response_time()
1. lib.analysis.channel.conv_len_conv_refr_time()

[2018-02-22 06:43] prasadtalasila opened #280 "Integration tests for lib.analysis.network module"
The following functions of the module need integration tests.
1. lib.analysis.network.degree_node_number_csv()
1. lib.analysis.network.identify_hubs_and_experts()
1. lib.analysis.network.message_number_graph()
1. lib.analysis.network.message_number_bins_csv()
1. lib.analysis.network.message_time_graph()

[2018-02-22 06:44] prasadtalasila opened #281 "Integration tests for lib.analysis.user module"
The following functions of the module needs integration tests:
1. lib.analysis.user.keywords()
1. lib.analysis.user.keywords_clusters() [failure case]
1. lib.analysis.user.nick_change_graph()

[2018-02-22 06:45] prasadtalasila opened #282 "Integration test for lib.nickTracker.nick_tracker() function"
Integration tests are needed for lib.nickTracker.nick_tracker() function.

[2018-02-22 06:46] prasadtalasila opened #283 "Integration tests for lib.vis module"
Integration tests are needed for the following functions of the module:
1. lib.vis.exponential_curve_fit_and_plot()
1. lib.vis.exponential_curve_fit_and_plot_x_shifted()
1. lib.vis.generate_log_plots()

[2018-02-23 05:27] prasadtalasila commented on #276
PR #284 solves the problem.

[2018-02-23 05:27] #276 closed, assigned to Kausam

[2018-02-23 05:28] prasadtalasila commented on #281
Work on lib.analysis.user.keywords() done in PR #284.

[2018-02-23 17:52] kaushik-rohit commented on #272
One more pattern that I observed is if the message is **"Kim?",** for this **Kim** is the receiver of the message but we don't handle such messages.

[2018-02-26 05:49] prasadtalasila opened #292 "modifications to build scripts"
The shell scripts used in travis build must be moved from tests/ directory to script/ directory. We also need to modify the code climate line of [integration_test.sh](https://github.com/prasadtalasila/IRCLogParser/blob/dev/test/integration-test/integration_test.sh).
[code]

[2018-02-26 06:03] kaushik-rohit opened #293 "skip function in integration test coverage"
We are writing integration test only for certain functions and wish to have coverage corresponding to these functions only. Find if we can skip certain functions in codeclimate-coverage-report.

[2018-02-26 06:10] #258 closed, assigned to kaushik-rohit

[2018-02-26 06:10] prasadtalasila commented on #281
PR #290 closes this.

[2018-02-26 06:10] #281 closed, assigned to Kausam

[2018-02-26 06:23] prasadtalasila commented on #278
Work completed in PR #285.

[2018-02-26 06:23] #278 closed, assigned to bhuvangupta008

[2018-02-27 11:10] prasadtalasila commented on #293
This is not possible in any code coverage report and tool. Hence we need to track the needed functions and their coverage manually.

[2018-02-27 11:10] #293 closed, assigned to kaushik-rohit

[2018-02-27 11:14] prasadtalasila commented on #292
Work completed in PR #294.

[2018-02-27 11:14] #292 closed, assigned to bhuvangupta008

[2018-02-27 11:14] prasadtalasila commented on #283
Work completed in PR #289.

[2018-02-27 11:14] #283 closed, assigned to bhuvangupta008

[2018-02-27 11:40] prasadtalasila opened #295 "list of methods for functional tests"
The methods / coding idioms we have in the driver files must be brought into the functional tests. Each test must correspond to one research result we are producing from the software.

[2018-02-28 07:31] prasadtalasila commented on #279
The unit test [test_conv_len_conv_refr_time](https://github.com/prasadtalasila/IRCLogParser/blob/dev/test/unit-test/test_lib/test_analysis/test_channel.py#L20) has the following dependencies.
* lib.analysis__channel__build_stat_dist()
* lib.util.to_graph()
* lib.analysis.channel.truncate_table()
* lib.util.create_connected_nick_list()
* lib.util.get_nick_sen_rec()
* lib.util.correct_last_char_list

[2018-03-06 09:49] prasadtalasila opened #298 "functional test for userprofile.usertracking()"
The user tracking feature of IRCLogParser provides the following results:

1. user to channel graph.
1. user nick change graph.
1. keyword digest

We need to have a test to verify the proper functioning of this feature in IRCLogParser software. The functional tests must use the real Ubuntu logs of one month in duration and must use the real config module for testing.

The newly written test would

[2018-03-06 09:53] prasadtalasila commented on #280
@kaushik-rohit The PR #291 has been merged with the dev branch, but the build fails. Please send in another PR to fix the problem.

[2018-03-06 10:00] prasadtalasila commented on #282
work completed in PR #296.

[2018-03-06 10:00] #282 closed, assigned to Kausam

[2018-03-06 10:15] prasadtalasila commented on #295
The functional tests will try to reproduce the results reported in the [paper](https://www.dropbox.com/s/1jjr7lg58n7jpxe/IRCLogParser.pdf?dl=1). All the tests would be put in respective modules of test/functional-tests/ directory.

1. Dataset summary (dataset.py) ---> Table-I, pg 5 (27,28,83 and 87 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L87))

1. Channel

[2018-03-06 13:50] kaushik-rohit commented on #280
@prasadtalasila There seems to some problem with the vis tests.
@bhuvangupta008 can you please look into it.

[2018-03-13 15:53] prasadtalasila opened #300 "validate drivers"
Run all the drivers against the latest code base and check the results.

[2018-03-13 16:10] prasadtalasila commented on #280
* lines 522-527 of the lib/analysis/network.py module needs to be covered.
* network.py of slack channel needs to be covered as well.

[2018-03-18 17:20] kaushik-rohit commented on #280
@prasadtalasila Sir, I haven't written integration test for **degree_analysis_on_graph** since it wasn't mentioned in the suggestions. The line 522-527 is part of **degree_analysis_on_graph**, the reason why part of the function show test coverage is because it is being used in **degree_node_number_csv** which uses degree analysis on message_number_graph (directed graph only).

[2018-03-18 18:14] #280 closed, assigned to kaushik-rohit

[2018-03-19 05:37] prasadtalasila opened #304 "code review of all the existing tests"
The existing integration and unit tests need to be reviewed for consistency and correctness. Any problems detected can be discussed in this issue thread.

[2018-03-19 06:15] prasadtalasila commented on #298
lines of interest: 17, 47, 84

[2018-03-19 14:22] kaushik-rohit commented on #304
I will keep on updating the list.
1) (Not Needed) <del> Rather than using current directory every time, we can define test_data_dir as done in other tests.</del>
https://github.com/prasadtalasila/IRCLogParser/blob/dev/test/unit-test/test_lib/test_nickTracker.py#L26
2) <del> Would be better if config mocks are at the top. </del>
- https://github.com/prasadtalasila/IRCLogParser/blob/dev/test/unit-te

[2018-03-20 15:41] prasadtalasila commented on #304
@bhuvangupta008 and @Kausam Please look at the above list and corroborate / update the suggestions. @kaushik-rohit is about to start work on these topics; it would be helpful to have your opinion soon.

[2018-03-21 13:07] Kausam commented on #304
@kaushik-rohit, I will fix issue 1 if you are not already working on it.

[2018-03-21 14:13] kaushik-rohit commented on #304
@Kausam ok, you can do that but I later realized it wouldn't be any better to introduce a new variable and use it and hence didn't change it.

[2018-03-21 15:11] Kausam commented on #304
@kaushik-rohit  so it means that the change is not required, right? Let's remove that from the list.

[2018-03-22 05:56] bhuvangupta008 commented on #295
Channel profile (channelprofile.py)

* activity_graph ---> tabular form of figs 3(a) and 3(b)
  * 27,28,34-38 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L34-L38)
  * 121-125 of [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L121-L125)
  * 24,25,31-35 of [scummvm.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/s

[2018-03-23 05:11] bhuvangupta008 commented on #295
User profile

* user to channel graph.
  * lines 83-85 [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L83-L85)
* user nick change graph.
  * (Couldn't find the ploting functions but this [line](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L135) of ubuntu.py makes an api call which then returns the users with same nicks)
* keyword digest
  *

[2018-03-23 10:44] bhuvangupta008 commented on #295
Network profile

* presence networks
  * lines 83-85 [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L83-L85)
* message exchange network
  * lines 27,28,83,89 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L83)
  * lines 24,25,80,86 of [scummvm.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/scummvm.py#L80)
  * line

[2018-03-23 14:41] #304 closed, assigned to kaushik-rohit

[2018-03-23 18:14] prasadtalasila commented on #298
PR #302 completes the work.

[2018-03-23 18:14] #298 closed, assigned to Kausam

[2018-03-23 18:15] prasadtalasila commented on #279
PR #297 completes the work.

[2018-03-23 18:15] #279 closed, assigned to bhuvangupta008

[2018-03-23 18:18] prasadtalasila opened #307 "Add log download scripts"
We have independent scripts for download of logs; these scripts do not have a notion of calendar dates. We need one script per IRC channel.

We also need to minimise the code duplication across the scripts.

[2018-03-26 13:29] Kausam opened #308 "Unexpected error messages thrown by reader module"
### Description

The reader module throws "Channel not found" errors when the log data availablity is not uniform across all dates under consideration and the `channel_list` is ` ["ALL"]` initially.

### Steps to Reproduce

1. In config.py, put `STARTING_DATE = '2013-01-01'`, `ENDING_DATE = '2013-01-02'` and `CHANNEL_NAME = ["ALL"]`
2. In `config.LOG_DIRECTORY + "2013/01/01"` put the files "#ubunt

[2018-03-27 11:41] prasadtalasila opened #309 "functional test for data set"
Create a functional test for verifying the data set summary feature. The relevant lines in the driver files are:
27,28,83 and 87 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L87)

[2018-03-27 11:46] prasadtalasila opened #310 "functional test for Channel Profile"
Create functional tests for verifying the channel profile feature. The relevant lines of code are:

**Channel profile (channelprofile.py)**
* activity_graph ---> tabular form of figs 3(a) and 3(b)
  * 27,28,34-38 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L34-L38)
  * 121-125 of [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#

[2018-03-27 12:02] prasadtalasila opened #311 "functional tests for networks of network profile"
Create functional tests to verify the network profile. The suggested lines of code to be considered are:

Network profile

* presence networks
  * lines 83-85 [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L83-L85)
* message exchange network
  * lines 27,28,83,89 of [slack.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/slack.py#L83)
  * lines 24,25

[2018-03-27 12:03] prasadtalasila opened #312 "functional tests for properties of network profile"
Create functional tests to verify the network profile. The suggested lines of code to be considered are:

Network profile
* degree distribution for CC, CU, UU and message exchange networks
  * lines 83,84,85,98-118 of file [ubuntu.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L98-L118)
  * lines 20,27,28,83,89-97 of files [slack.py](https://github.com/prasadtalasila/IRCL

[2018-03-27 12:12] prasadtalasila commented on #295
work is complete.

[2018-03-27 12:12] #295 closed, assigned to bhuvangupta008

[2018-03-28 07:12] prasadtalasila commented on #309
PR #313 solves the issue.

[2018-03-28 07:12] #309 closed, assigned to bhuvangupta008

[2018-03-29 16:39] prasadtalasila commented on #308
PR #314 solves the issue.

[2018-03-29 16:39] #308 closed, assigned to Kausam

[2018-03-30 17:47] prasadtalasila commented on #310
PR #315 solves this issue.

[2018-03-30 17:47] #310 closed, assigned to bhuvangupta008

[2018-04-02 05:50] prasadtalasila opened #317 "wiki page for logger module"
update [logger config](https://github.com/prasadtalasila/IRCLogParser/wiki/Logger-Config) wiki page.

### References
1. Learn Python the Hard Way
1. [12 factor apps](https://12factor.net/)
1. [Logging HOWTO](https://docs.python.org/2.7/howto/logging.html#configuring-logging) from Python standard documentation
1. [Logging advice](http://docs.python-guide.org/en/latest/writing/logging/) from Python

[2018-04-02 06:18] prasadtalasila opened #318 "Move correlation of CL, RT, CRT code to validate.py"
Move correlation of CL, RT, CRT code from [lines-166 to 195](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L166-L195) of ubuntu.py to validate.py as a new function in [validate.py](https://github.com/prasadtalasila/IRCLogParser/blob/master/lib/validate.py)

[2018-04-03 13:37] prasadtalasila commented on #311
PR #316 solves the issue.

[2018-04-03 13:37] #311 closed, assigned to bhuvangupta008

[2018-04-05 08:46] Kausam opened #320 "Ubuntu driver passes invalid dates to reader.linux_input"
### Description
The date of a month's end is [hard coded to 31](https://github.com/prasadtalasila/IRCLogParser/blob/master/ubuntu.py#L173-L174). This causes the ending date to be invalid for months like February and April.

### Additional Information

We can use the `calendar` module to find the correct date of a month's end.

[2018-04-05 17:05] bhuvangupta008 commented on #312
PR #319 solves this

[2018-04-05 17:05] #312 closed, assigned to bhuvangupta008

[2018-04-06 11:57] prasadtalasila opened #324 "Consolidate code coverage reports on to codecov"
We can consolidate the code coverage reports of all the tests on to the codecov website. We can achieve this objective using the flags feature of codecov.

For more information, please see: https://docs.codecov.io/docs/flags

[2018-04-09 06:15] prasadtalasila commented on #307
PR #306 solves the issue.

[2018-04-09 06:15] #307 closed, assigned to kaushik-rohit

[2018-04-09 06:32] prasadtalasila opened #325 "Design for IRC channel reader, parser and iterator"
Design for IRC channel reader, parser and iterator

[2018-04-09 06:55] prasadtalasila opened #326 "Wrapper class for networkx"
A wrapper class networkx library using [Facade design pattern](https://en.wikipedia.org/wiki/Facade_pattern).

[2018-04-09 06:58] prasadtalasila opened #327 "Remove plotly from vis.py"
vis.py is a wrapper module around matplotlib and plotly. We need to remove the plotly versions of the code and test the ubuntu.py driver.

[2018-04-09 22:08] prasadtalasila commented on #317
wiki page has been updated.

[2018-04-09 22:08] #317 closed, assigned to kaushik-rohit

[2018-04-10 04:25] #320 closed, assigned to Kausam

[2018-04-10 04:43] prasadtalasila commented on #324
PR #328 solves the issue.

[2018-04-10 04:43] #324 closed, assigned to Kausam

[2018-04-10 23:14] prasadtalasila commented on #318
PR #322 solves the issue.

[2018-04-10 23:14] #318 closed, assigned to bhuvangupta008

[2018-04-12 07:22] bhuvangupta008 commented on #326
Following methods are invoked of the networkx library:
- nx.Graph()
- nx.write_pajek
- nx.relabel_nodes
- networkx.algorithms.components.connected.connected_components
- nx.MultiDiGraph
- nx.DiGraph
- nx.hits
- networkx.readwrite.json_graph
- nx.nx.drawing.nx_agraph.to_agraph
- nx.is_isomorphic
- nx.read_pajek

[2018-04-12 10:16] prasadtalasila commented on #326
nx.Graph()
nx.MultiDiGraph
nx.DiGraph

nx.relabel_nodes

networkx.algorithms.components.connected.connected_components
nx.is_isomorphic
nx.hits

nx.nx.drawing.nx_agraph.to_agraph

nx.read_pajek
nx.write_pajek
networkx.readwrite.json_graph

[2018-04-17 22:47] prasadtalasila opened #329 "unit and functional tests on validate.py"
Create unit and functional tests on validate.py.

[2018-04-23 05:51] prasadtalasila commented on #327
PR #330 solves the problem.

[2018-04-23 05:51] #327 closed, assigned to Kausam

[2018-04-23 06:08] Kausam commented on #329
The commit d8e2addb49d9be3b3d618e4f0209abe79fc54baf merged into master has some bugs in it. This causes the ubuntu driver to fail when run.
The errors are:
1. [This](https://github.com/prasadtalasila/IRCLogParser/blob/d8e2addb49d9be3b3d618e4f0209abe79fc54baf/lib/validate.py#L114) line requires `start_date` to be a ` datetime` object whereas actually it is a string. This causes an AttributeError. S

[2018-04-30 03:04] prasadtalasila commented on #300
work is complete.

[2018-04-30 03:04] #300 closed, assigned to Kausam

[2018-06-12 05:44] prasadtalasila commented on #326
@bhuvangupta008 you can work on this issue.

[2018-09-17 15:53] #326 closed, assigned to nobody

[2018-09-17 15:56] prasadtalasila opened #339 "Replace networkx code with network_util.py"
We need to replace all networkx imports with imports of network_util.py module.

[2018-09-18 08:58] hrishikesh-dahiya commented on #339
grep -rl 'nx.Graph()' ./
./lib/slack/util.py
./lib/network_util.py
./lib/util.py
./lib/analysis/network.py
./test/unit-test/test_slack/test_lib/test_util.py
./test/unit-test/test_lib/test_util.py

grep -rl 'nx.DiGraph()' ./
./lib/slack/analysis/network.py
./lib/network_util.py
./lib/analysis/network.py
./test/unit-test/test_slack/test_lib/test_util.py
./test/unit-test/test_lib/test_in_out/test_sav

[2018-09-18 10:16] prasadtalasila commented on #339
@hrishikesh-dahiya please look through the code to find the actual methods and attributes needed. Based on the list, we can take a call.